{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}{% trans 'Order (Step 3 of 4) - Confirm Order' %}{% endblock %}

{% block extrajs %}
	{% if shopsettings.use_shipwire %}
	<script type="text/javascript" src="/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
		<script type="text/javascript">
		
		function shippingError(value) {
			 $.fancybox(
		"<h3 style='font-size:32px;'>Shipping Rate Error!</h3><p style='font-weight:bold;font-size:20px'>Whoops! There's been a problem.</p><p>We can't calculate shipping costs based on the address you provided - it could be a technical error, or perhaps you haven't entered your address correctly.</p><p>Could you quickly check if have entered your address correctly? If you want to change your address, <a href='{% url order_check_details %}'>click here</a>.</p><p>If you have entered your address correctly, then <a href='/contact-us/'>contact us immediately</a> quoting reference <strong>"+ value +"</strong> and we'll help you place your order as soon as possible.</p>",
		{
        	'autoDimensions'	: false,
			'width'         	: 650,
			'height'        	: 'auto',
			'padding'			: 40,
			'transitionIn'		: 'none',
			'transitionOut'		: 'none'
		});
		}
		
		function calculateShipping() {
			$.ajax({
			    url: '{% url calculate_shipping order.id %}',
			    type: 'GET',
			    dataType: 'json',
			    success: function(data) {
			        $('#quotes').html(data.text);
			        $('#shipping-price').val(data.cost);
			        var currentTotal = parseFloat($("#total-cost").text());
			        var newTotal = parseFloat(currentTotal.toFixed(2)) + parseFloat(data.cost);
			        $('#total-cost').html(newTotal.toFixed(2));
			        $('#postage-loading').toggle();
			    },
			    error:function (xhr, ajaxOptions, thrownError){
			    	var invoiceID = $('input#id_invoice').val();
			    	shippingError(invoiceID);
                }  
			});
		}
		
		
		$(document).ready( function() {
			calculateShipping();
		});
		
		
		</script>
	{% endif %}
{% endblock %}

{% block extracss %}

<script src="http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js"></script>
<link rel="stylesheet" href="/css/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
<style type="text/css">

h1 {
  padding-bottom: 20px;	
}

div.row {
  float: left;
  width: 100%;
  margin-top: 30px;	
}

</style>
{% endblock %}

{% block content %}

<div id="feature">

<div id="steps">
{% trans 'Step 3/4' %}
</div>

<h1>{% trans 'Please confirm your order' %}</h1>


    <form id="paypal" method="post" action="{{ paypal_submit_url }}">

		<input type="hidden" name="cmd" value="_cart"> 
		<input type="hidden" name="upload" value="1"> 
		<input type="hidden" name="business" value="{{ paypal_receiver_email }}">
		<input type="hidden" name="currency_code" value="{{ currency.code }}">
		<input type="hidden" name="lc" value="{% if request.LANGUAGE_CODE == 'en' %}en_US{% else %}{{ request.LANGUAGE_CODE }}_{{ request.LANGUAGE_CODE|upper }}{% endif %}">
		
		
		<input type="hidden" name="first_name" value="{{ order.owner.first_name }}">
		<input type="hidden" name="last_name" value="{{ order.owner.last_name }}">
		<input type="hidden" name="email" value="{{ order.owner.email }}">
		

		<input TYPE="hidden" NAME="return" value="{{ paypal_return_url }}">
		<input TYPE="hidden" NAME="cancel" value="{{ paypal_notify_url }}">
		<input TYPE="hidden" NAME="notify_url" value="{{ paypal_notify_url }}">
		<input type="hidden" id="id_no_shipping" value="1" name="no_shipping">
		<input type="hidden" id="id_charset" value="utf-8" name="charset">
		
		<input type="hidden" name="invoice" value="{{ order.invoice_id }}" id="id_invoice" />



		<input type="hidden" name="item_name_1" value="Shipping"> 
		<input type="hidden" name="quantity_1" value="1">
		<input type="hidden" name="amount_1" value="{% if shopsettings.use_shipwire %}{% else %}{{ shopsettings.flatrate_shipping_cost|floatformat:'2' }}{% endif %}" id="shipping-price">
		 
		 
		{% for thing in basket_items %}
			<input type="hidden" name="item_name_{{ forloop.counter|add:"1" }}" value="{{ thing.item.parent_product.name }}"> 
			<input type="hidden" name="quantity_{{ forloop.counter|add:"1" }}" value="{{ thing.quantity }}">
			<input type="hidden" name="amount_{{ forloop.counter|add:"1" }}" value="{{ thing.item.price }}">
		{% endfor %}
		
		{% if order.discount %}
			<input type="hidden" name="discount_rate_{{ forloop.counter|add:"1" }}" value="{{ order.discount.discount_value|cut:"0." }}">
		{% endif %}
		
<div class="row">
	<div class="row-label">
		<h2>{% trans 'You have ordered:' %}</h2>
	</div>
	
	<div class="row-box">
		<table>

		{% for thing in basket_items %}
		  <tr>
	    	<td width="200px">
	    		{{ thing.quantity }} X {{ thing.item.parent_product.name }}
	    	</td>
	    	<td width="350px">
	
	    	</td>
	    	<td>{{ thing.item.currency.symbol }}{{ thing.get_price }}</td>
	    				
		  </tr>
		  {% endfor %}
		 
		 {% if shopsettings.use_shipwire %}
		  <tr id="quotes">
		  	<td><em>&nbsp;</em></td>
		  	<td style="font-size: 12px;"><img style="position: relative; top: 5px; left: -10px;height: 20px; width: 20px;" src="/images/loading.gif" id="postage-loading"/><em>Just checking shipping rates now… please wait</em></td>
		  	<td>&nbsp;</td>
		  			  
		  </tr>
		  {% else %}
		  <tr id="quotes">
		  	<td>{% trans 'Shipping' %}</td>
		  	<td>FEDEX Home Delivery/UPS Ground</td>
		  	<td>{{ currency.symbol }}{{ shipping_price|floatformat:'2' }}</td>	  
		  </tr>
		  
		  {% endif %}
		  
		  <tr>
		  	<td><strong>{% trans 'TOTAL' %}</strong></td>
		  	<td>&nbsp;</td>
		  	<td><strong>{{ currency.symbol }}<span id="total-cost">{{ total_price|floatformat:2 }}</span></strong>
		  	{% if order.discount %}
	    	<span style="font-weight: bold;font-size:12px;color:red;">({{ order.discount.discount_value|cut:"0." }}% off discount applied)</span>
	    	{% endif %}
	    	</td>		  
		  </tr>
		</table>
		</div>
	</div>
	




<div class="row">
	<div class="row-label">
		<h2>{% trans "We'll send your order to:" %}</h2>
	</div>
	
	<div class="row-box">
	    
		{{ order.address.house_name_number }}<br/>
		{{ order.address.address_line_1 }}<br/>
		{% if order.address.address_line_2 %}{{ order.address.address_line_2 }}<br/>{% endif %}
		{% if order.address.town_city %}{{ order.address.town_city }}<br/>{% endif %}
		{% if order.address.state %}{{ order.address.state }}<br/>{% endif %}
		{{ order.address.postcode }}<br/>
		{{ order.address.get_country_display }}<br/>
		{% if order.address.phone %}<strong>tel:</strong> {{ order.address.phone }}<br/>{% endif %}
		({{ shopper.email }})<br/>
		<a style="font-size: 12px; font-weight: bold;" href="{% url order_check_details %}">&laquo; change your address</a>
		<br/>
		<p>{% blocktrans %}Please check your address carefully - this is where we will ship your items too!{% endblocktrans %}</p>
	</div>
</div>


		<div class="checkout-button">
			<input type="submit" value="{% trans 'Checkout and pay &raquo;' %}" next="" class="checkout-button"/>
			<p class="checkout"><strong>{% trans 'Next step:' %}</strong> {% trans 'pay securely via Paypal, using all major credit and debit cards or your linked Paypal account.' %}</p>
		<img src="/images/paypal-horz.gif" class="paypal">
		</div>
	
	</form> 

</div>

{% endblock %}
