{% extends "base.html" %}

{% block pagetitle %}Order (Step 2 of 3) - Confirm Order{% endblock %}

{% block extracss %}
<style type="text/css">

h1 {
  padding-bottom: 20px;	
}

div.row {
  float: left;
  width: 100%;
  margin-top: 30px;	
}

</style>
{% endblock %}

{% block content %}

<div id="feature">

<div id="steps">
Step 3/4
</div>

<h1>Please confirm your order</h1>

    <form method="post" action="{{ paypal_submit_url }}">

		<input type="hidden" name="cmd" value="_cart"> 
		<input type="hidden" name="upload" value="1"> 
		<input type="hidden" name="business" value="{{ paypal_receiver_email }}">
		<input type="hidden" name="currency_code" value="USD">
		<input type="hidden" name="address_override" value="1">
		
		<input type="hidden" name="address1" value="{{ order.address.house_name_number }}, {{ order.address.address_line_1 }}">		
		<input type="hidden" name="address2" value="{{ order.address.address_line_2 }}">
		<input type="hidden" name="city" value="{{ order.address.town_city }}">
		<input type="hidden" name="state" value="{{ order.address.state }}">
		<input type="hidden" name="country" value="US">
		<input type="hidden" name="zip" value="{{ order.address.postcode }}">
		<input TYPE="hidden" NAME="return" value="{{ paypal_return_url }}">
		<input TYPE="hidden" NAME="cancel" value="{{ paypal_notify_url }}">
		<input TYPE="hidden" NAME="notify_url" value="{{ paypal_notify_url }}">
		<input type="hidden" id="id_no_shipping" value="1" name="no_shipping">
		<input type="hidden" id="id_charset" value="utf-8" name="charset">
		
		<input type="hidden" name="invoice" value="{{ order.invoice_id }}" id="id_invoice" />



		<input type="hidden" name="item_name_1" value="Shipping"> 
		<input type="hidden" name="quantity_1" value="1">
		<input type="hidden" name="amount_1" value="{{ shipping_price }}">
		 
		 
		 {% for thing in basket_items %}
		<input type="hidden" name="item_name_{{ forloop.counter|add:"1" }}" value="{{ thing.item.parent_product.name }} {{ thing.item.parent_product.category }} -  ({{ thing.item.weight|floatformat }}{{ thing.item.weight_unit }})"> 
		<input type="hidden" name="quantity_{{ forloop.counter|add:"1" }}" value="{{ thing.quantity }}">
		<input type="hidden" name="amount_{{ forloop.counter|add:"1" }}" value="{{ thing.item.price }}">
		{% if order.discount %}
		<input type="hidden" name="discount_rate_{{ forloop.counter|add:"1" }}" value="{{ order.discount.discount_value|cut:"0." }}">
		{% endif %}
		 {% endfor %}
		
		
<div class="row">
	<div class="row-label">
		<h2>You have ordered:</h2>
	</div>
	
	<div class="row-box">
		<table>

		{% for thing in basket_items %}
		  <tr>
	    	<td width="200px">
	    		{{ thing.quantity }} X {{ thing.item.parent_product.name }}
	    	</td>
	    	<td width="150px">

	    	</td>
	    	<td>${{ thing.get_price }}</td>
	    				
		  </tr>
		  {% endfor %}
		 
		  <tr>
		  	<td>Shipping</td>
		  	<td>&nbsp;</td>
		  	<td>${{ shipping_price|floatformat:2 }}</td>		  
		  </tr>
		  <tr>
		  	<td><strong>TOTAL</strong></td>
		  	<td>&nbsp;</td>
		  	<td><strong>${{ total_price|floatformat:2 }}</strong>
		  	{% if order.discount %}
	    	<span style="font-weight: bold;font-size:12px;color:red;">({{ order.discount.discount_value|cut:"0." }}% off discount applied)</span>
	    	{% endif %}
	    	</td>		  
		  </tr>
		</table>
		</div>
	</div>



<div class="row">
	<div class="row-label">
		<h2>We'll send your order to:</h2>
	</div>
	
	<div class="row-box">
	    
		{{ order.address.house_name_number }}<br/>
		{{ order.address.address_line_1 }}<br/>
		{{ order.address.address_line_2 }}<br/>
		{{ order.address.town_city }}<br/>
		{{ order.address.state }}<br/>
		{{ order.address.postcode }}<br/>
		USA<br/>
		({{ shopper.email }})<br/>
		<br/>
		<p>Please make sure this is a valid address in the USA. For international delivery, please <a href="/contact-us/">contact us</a> (<a href="/shipping/" target="_blank">find out why</a>)</p>
	</div>
</div>


		<div class="checkout-button">
			<input type="submit" value="Checkout and pay &raquo;" next="" class="checkout-button"/>
			<p class="checkout"><strong>Next step:</strong> pay securely via Paypal, using all major credit and debit cards or your linked Paypal account.</p>
		<img src="/images/paypal-horz.gif" class="paypal">
		</div>
	
	</form> 

</div>

</div>
{% endblock %}
