{% load i18n %}


<div id="footer">

	{% if ga_is_on %}<a href="https://plus.google.com/102021322550266637657?prsrc=3" style="cursor:pointer;display:inline-block;text-decoration:none;color:#fff;font:13px/16px arial,sans-serif;"><span style="display:inline-block;font-weight:bold;vertical-align:top;margin-right:5px;margin-top:8px;">Follow us</span><span style="display:inline-block;vertical-align:top;margin-right:15px;margin-top:8px;">on</span><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:32px;height:32px;"/></a>
	{% endif %}
		<ul>
		
		<li><a href="/golf-nets/">{% trans 'Golf nets' %}</a></li>
		<li><a href="/become-a-dealer/">{% trans 'Become a dealer' %}</a></li>
		<li><a href="/international-distributors/">{% trans 'International distributors' %}</a></li>
		<li><a href="/co-branding/">{% trans 'Co-branding' %}</a></li>
		<li><a href="/affiliate-program/">{% trans 'Affiliate program' %}</a></li>
		<li><a href="/terms/">{% trans 'Terms and Conditions' %}</a></li>
		<li><a href="/about-us/">{% trans 'About Us' %}</a></li>
		<li><a href="/privacy/">{% trans 'Privacy' %}</a></li>
		<li><a href="/contact-us/">{% trans 'Contact Us' %}</a></li>
	   </ul>
	   
	   <p>©2011 Pro-advanced.com </p>
		
		{% if ga_is_on %}
		<br clear="all"/>
		<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like-box href="http://www.facebook.com/pages/Proadvanced/110737272357215" width="292" show_faces="false" border_color="" stream="false" header="false"></fb:like-box> 
		{% endif %}
    </div>