


<div id="footer">
	<p>©2011 Pro-advanced.com </p>
		<ul>
		
		<li><a href="/golf-nets/">Golf nets</a></li>
		<li><a href="/become-a-dealer/">Become a dealer</a></li>
		<li><a href="/international-distributors/">International distributors</a></li>
		<li><a href="/co-branding/">Co-branding</a></li>
		<li><a href="/affiliate-program/">Affiliate program</a></li>
		<li><a href="/terms/">Terms and Conditions</a></li>
		<li><a href="/about-us/">About Us</a></li>
		<li><a href="/privacy/">Privacy</a></li>
		<li><a href="/contact-us/">Contact Us</a></li>
	   </ul>
		
		{% if ga_is_on %}
		<br clear="all"/>
		<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like-box href="http://www.facebook.com/pages/Proadvanced/110737272357215" width="292" show_faces="false" border_color="" stream="false" header="false"></fb:like-box> 
		{% endif %}
    </div>