html {
  border: none;
  margin: none;
  padding: none;	
}

body {
  font-weight: 0.9em;
  font-family: "helveticaneue","helvetica neue","helveticaneueroman","helveticaneue-roman","helvetica neue roman","helvetica","arial",'texgyreherosregular',"tahoma","geneva",sans-serif;	
  background-color: #000;
  color: #333;
  padding: 0;
  margin: 0;
}



a img {
  border: none;	
}

a img:hover {
  opacity: 0.8;	
}

a {
  text-decoration: none;	
}

a:link, a:visited {
  color: #af2020;
}

a:hover, a:active {
  color: #ffaeae;
}


.button {

	background-color: #f1f1f1;
    /* Firefox 3.6+ */ 
    background: -moz-linear-gradient(100% 100% 90deg, #e6e6e6, #f1f1f1); 
    
    /* Safari 4-5, Chrome 1-9 */ /* -webkit-gradient(<type>, <point> [, <radius>]?, <point> [, <radius>]? [, <stop>]*) */ 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1f1f1), to(#e6e6e6)); 
    
    /* Safari 5.1+, Chrome 10+ */ 
    background: -webkit-linear-gradient(#f1f1f1, #e6e6e6); 
    
    /* Opera 11.10+ */ 
    background: -o-linear-gradient(#e6e6e6, #f1f1f1);   
    
    border: 1px solid #fff;
    font-size: 12px;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px 15px;
    text-shadow: 0 1px 1px #fff;
    text-align: center;
    cursor: pointer;
    color: #af2020;
}

.button:hover {
  box-shadow: 0 0px 3px #e1e1e1;	
  border: 1px solid #999;
}

input.button {
  color: #af2020;
  height: auto;	
  font-family: Helvetica, sans-serif;
  font-size: 15px;
}

input.button:hover {
  color: #F37679;	
}

div#container {
  padding: 0px 0px 0px 0px;
  width: 960px;
  margin: 0 auto;
}

div#container-header {
    height: 120px;
}


/* typography */

h1 {
    border-bottom: 1px solid #E1E1E1;
    color: #BD1B30;
    font-size: 2.4em;
    letter-spacing: -1px;
    margin: 0 0 30px;
    padding-bottom: 10px;
    text-shadow: 0 1px 2px #FFFFFF;
    text-transform: capitalize;
}


h2 {
  font-weight: bold;
  font-size: 2em; 
  color: #bd1b30;
  margin: 10px 0 5px 0;	
  padding-bottom: 8px;
  letter-spacing: -1px;
  text-shadow: 1px 1px #e1e1e1;
}


h3 {
    color: #000;
    margin: 0 0 5px 0;
    line-height: 1em;
    font-size: 22px;
}

h4 {
  font-weight: normal;
  border-bottom: 1px solid #e1e1e1;	
  margin-bottom: 10px;
  padding-bottom: 5px;
}

div.right p.sport, div.left p.sport, div#content p.sport, div#feature p.sport {
  margin: 0 0 5px 0;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -1px;
  position: relative;
  top:3px;
  font-size: 11px;
  color: #666;
  font-family: "helveticaneue","helvetica neue","helveticaneueroman","helveticaneue-roman","helvetica neue roman","helvetica","arial",'texgyreherosregular',"tahoma","geneva",sans-serif;
}


div.right p {
    color: #333333;
    font-size: 13px;
    line-height: 1.5em;
    margin: 0 0 10px;
}

div.right ul {
    font-size: 13px;
    padding-left: 20px;
    list-style-type: square;
    line-height: 1.5em;
}

div.right li {
  margin-bottom: 10px;	
}



/* header styles */

div#header {
    height: 120px;
    margin: 0 auto;
    width: 960px;
}

#basket {
  float: right;
  width: 960px;
  margin-bottom: 10px;	
  color: #fff;
  font-size: 12px;
}


#basket a {
  text-decoration: underline;
  color: #fff;	
}

#basket a:hover {
  color: #ffaeae;	
}

#basket #inner {
  float:right;
  width: 200px;	
  margin-top: 9px;
  position: relative;
  top: 5px;
}

#currency {
    color: #999999;
    font-size: 12px;
    float: right;
    text-align: center;
    width: auto;
    position: relative;
    top: 20px;
    right: 20px;
}

#currency a {
    color: #e1e1e1;
    margin-right: 5px;
    width: 24px;
    opacity: 0.3;
    font-weight: bold;
    font-size: 16px;
}

#currency a img {
  margin-bottom: 3px;	
}

#currency a.eu img {position: relative; right: 24px;}

#currency a.us img {position: relative; right: 48px;}

#currency a.selected {
  font-weight: bold;
  color: #fff;
  opacity: 1;	
}

#currency a:hover {
  color: #666;
  opacity: 1;
}

#countries {
  float: right;	
  margin: 7px 30px 0 0;
  position: relative;
  top: 5px;
}

#countries img {
  position: relative;
  top: 8px;	
}

#language {
    float: right;
    margin: 10px 30px;
    text-align: right;
    width: 900px;
}

#language a {
  font-size: 12px;
  color: #999;
  margin-right: 10px;	
}

#language a.selected {
  font-weight: bold;
  color: #BD1B30;	
}

div#logo {
    float: left;
    left: 0;
    position: relative;
    top: -10px;
    width: 300px;
    height: 75px;
}

div#contact {
 float: right;
 color: white;
 font-size: 0.9em;
 margin-top: 10px;	
}

div#logo h1 {
  background: url('/images/logo2.png') no-repeat scroll 0 0 transparent;
  height: 90px;	
  margin: 0;
  border-bottom: none;
}

div#logo h1 span {
  display: none;	
}

div#logo:hover {
  opacity: 0.8;	
}

#nav {
  box-shadow: 0 1px 24px #F1F1F1;
  float: right;
  margin: 14px 0 0 0;
}

#nav ul {
  margin: 0;
  color: #ee6464;
  padding: 0;
}

#nav ul li {
    float: left;
    font-size: 11px;
    list-style-type: none;
    padding: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.5);
	background-color: #e1e1e1;
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

#nav ul li:not(:last-child) {
    border-right: 1px solid #999;	
}

#nav ul li:not(:first-child) {
    border-left: 1px solid white;	
}

nav ul li {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75); 
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

#nav ul li:hover {
  background-color: #d1d1d1;	
}

#nav ul li:first-child {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
}

#nav ul li:last-child {
  -moz-border-radius-bottomright: 5px;	
  -moz-border-radius-topright: 5px;
}


#nav a:link, #nav a:visited {
    color: #333;
    display: block;
    font-weight: bold;
    height: auto;
    padding: 10px 13px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0.5px 0.5px white;
}

#nav a:hover, #nav a:active {
  color: #bd1b30;
  cursor: pointer;
  text-shadow: none;
}

a.contact {
  color: white;	
  margin-right: 10px;
}

a.contact:hover {
  color: #BD1B30;	
}

div#feature {
    background: none repeat scroll 0 0 #fff;
    border-radius: 10px 10px 0px 0px;
    float: left;
    padding: 20px 30px;
    width: 900px;
}

div#feature h3 {	

}

div#feature p.super-short, div.left p.super-short {
  font-size: 22px;
  margin: 0px 0px 10px; 
  color: #333;
  font-weight: bold;
}

div#feature a.more {
    background: -moz-linear-gradient(100% 100% 90deg, #e6e6e6, #f1f1f1); 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1f1f1), to(#e6e6e6)); 
    background: -webkit-linear-gradient(#e6e6e6, #f1f1f1); 
	background: -o-linear-gradient(#e6e6e6, #f1f1f1);   
    border-color: #e1e1e1 #C1C1C1 #C1C1C1 #e1e1e1;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 1px 2px #fff;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px 15px;
    width: 310px;
    text-align: center;
}

div#feature a.more:hover {
    background: -moz-linear-gradient(100% 100% 90deg, #f1f1f1, #e6e6e6); 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#f1f1f1)); 
    background: -webkit-linear-gradient(#f1f1f1, #e6e6e6); 
	background: -o-linear-gradient(#f1f1f1, #e6e6e6);
	color: #BD1B30; 	
}

div#content-container {
  width: 100%;	
}

div#content {
  margin: 0 auto;
  width: 890px;
  padding: 30px;	
}

div#content p {
  line-height: 1.5em;
  margin-top: 0;	
}

div#content ul {
  line-height: 1.5em;
  list-style-type: square;	
}  

div#content img.product-photo-main {
  float: left;
  border: 3px solid white;	
}

div#content div.product-photos-small {
  margin-top: 10px;	
  width: 350px;
  float: left;
}

div#content div.product-photos-small img {
  margin-right: 10px;
  border: 3px solid white;
}

div.flatpage-content {
    width: 550px;

}

div.flatpage-content p {
  font-size: 15px;	
}

div.flatpage-content div.left {
  background: none;
  width: 500px;	
  padding: 0;
  float: left;
}

div.flatpage-content div.left p {
  width: 500px;	
}

div.flatpage-content div.right {
  background: url("/images/gray-stripe.png") repeat scroll 0 0 #E1E1E1;
  -moz-box-shadow: 0 2px 5px #D1D1D1;
  width: 300px;
  float: right;
  padding: 0;
  -moz-border-radius: 10px;
  padding: 20px;
}

div.flatpage-content div.right p {
  margin: 0;
  font-size: 14px;	
}

div#content img {
  float: right;
}

div.left {
    float: left;
    margin-right: 30px;
    width: 550px;
}

div.left p, div#left p {
  margin: 0 0 20px 0;
  line-height: 1.8em;	
}

div.right {
  float: right;
  width: 300px;
}

div.product-promo {
    border-right: 1px solid #E1E1E1;
    float: left;
    margin: 0px 40px 30px 0;
    padding-right: 50px;
    width: 210px;
}

div.product-promo.last {
    border-right: none;
    margin-right: 0;
}

div.product-promo h3 {
  font-size: 24px;
}

div.product-promo img {
  margin-bottom: 20px;
  border: 5px solid #fff;
}

div.product-promo p {
  font-size:13px;
  margin-top: 5px;
}


div#footer {
    margin: 0px auto 0;
    padding-bottom: 30px;
    width: 960px;
    float: left;
}

#footer p {
  color: #fff;
  font-size: 11px;
  margin-top: 0;	
}

#footer ul {
  padding-left: 0;	
}

div#footer ul li {
    color: #fff;
    display: inline;
    font-size: 12px;
    list-style-type: none;
    margin-bottom: 8px;
    margin-right: 20px;
}

div#footer ul li a:link, div#footer ul li a:visited {
  	color: #fff;
}

/* shopping basket and ordering steps styles */

#steps {
    background-color: #f1f1f1;
    border: 1px solid #E1E1E1;
    border-radius: 5px 5px 5px 5px;
    color: #666666;
    float: left;
    margin: 0 20px 0 0;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 20px;
}

.checkout-button {
  float:;
  font-size: 13px;	
  text-align: right;
  margin-top: 20px;
}

.checkout-button input {
  border: none;
  background: none;
  font-weight: bold;
  font-size: 20px;
  font-family: Arial, sans-serif;
  padding: 0;
  color: #AF2020;	
}

.checkout-button input:hover {
  cursor: pointer;
  color: #ffaeae;	
}

#email-signup {
  padding: 15px 30px 15px;
  background-color: #f6f6f6;
  float: left;
  width: 900px;
  margin-bottom: 30px;
  border-top: 1px solid #e1e1e1;	
}

#email-signup #loading {
  display: none;	
} 

#email-signup input {
  float: left;	
  width: 250px;
  border: none;
  border: 1px solid #e1e1e1;
  padding: 8px 10px;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  position: relative;
  top: -3px;
}

#email-signup input.button {
  width: 100px;	
  padding: 8px 6px 6px;
  border-left: none;
}

#email-signup p {
  margin: 0 15px 5px 0;
  font-size: 18px;
  color: #AF2020;
  font-weight: bold;
  float: left;
  text-shadow: 1px 1px 0 #fff;	
}


#follow {
  float: left;
  width: 100%;
  margin: 20px 0 0 0;   
}


#follow a {
  height: 32px;
  width: 32px;
  float: left;
  margin: 0 5px 0 0;
  display: block;
  background: url('/images/social.png') no-repeat 0 0;;	
}

#follow a:hover {
  opacity: 0.8;	
}

#follow a.tw {
  background-position: -32px 0px;	
}

#follow a.yt {
  background-position: -192px 0px;	
}

#follow a.pin {
  background-position: -160px 0px;	
}

