html {
  border: 0px solid #fff;
  margin: none;
  padding: none;	
}

body {
  background: #191919;
  color: #e1e1e1;
  padding: 0;
  margin: 0;
}

body {
font-family: 'Open Sans', sans-serif;

}

.hr {
  float: left;
  width: 100%;
  border-bottom: 1px solid #333;
  height: 1px;
  margin: 20px 0;   
}


a img {
  border: none;	
}

a img:hover {
  opacity: 0.8;	
}

a {
  text-decoration: none;	
}

a:link, a:visited {
  color: #af2020;
}

a:hover, a:active {
  color: #ffaeae;
}

span.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;   
}


.button, input.button, a.button {
	background-color: #444;
	color: #fff;
    border: none;
    font-size: 21px;
    padding: 6px 20px 6px 20px;
    text-align: center;
    cursor: pointer;
    font-weight: normal;
    position: relative;
}

.button.arrow, a.button.arrow {
   padding: 6px 60px 6px 20px;
}

.button.arrow:before, input.button.arrow:before {
   position: absolute;
   content: " ";
   height: 35px;
   width: 35px;
   border-radius: 35px;
   background: #333;

   right: 10px;
   top: 7px; 
   border: 1px solid #343434;
}

.button.arrow:after, input.button.arrow:after {
    border-color: rgba(0, 0, 0, 0) #444;
    border-style: solid none solid solid;
    border-width: 13px 0 13px 13px;
    content: " ";
    display: block;
    position: absolute;
    right: 19px;
    top: 12px;
}

.button:hover, input.button:hover, a.button:hover {
  background: #666;
  color: #fff;
}

.button.arrow:hover:before {
   background: #444;   
}

.button.arrow:hover:after {
   border-color: rgba(0, 0, 0, 0) #c1c1c1;   
}

.button.price {
  padding-left: 120px;   
}

.button.price span.price {
  float: left;
  position: absolute;
  left: 15px;   
}

.container {
  width: 900px;
  margin: 0 auto;
  padding: 0;
  left: -450px;
  position: relative;
  margin-left: 50%;
  float: left;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
}


h1 {
    color: #fff;
    font-size: 44px;
    margin: 10px 0 20px;
    font-weight: normal;
    text-transform: ;
}


h2 {
    color: #AF2020;
    font-size: 26px;
    font-weight: normal;
    margin: 0px 0 5px;
}


h3 {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 100;
    margin: 0 0 5px;
    text-transform: uppercase;
}

h4 {
  font-weight: normal;
  border-bottom: 1px solid #e1e1e1;	
  margin-bottom: 10px;
  padding-bottom: 5px;
}

p {
  margin: 0 0 20px 0;
  line-height: 1.8em;
  font-size: 16px;
}

ul, ol {
  font-size: 16px;
  line-height: 1.8em;   
}

div.left p {
  font-size: 18px;   
}


.right p {
    margin: 0 0 10px;
}

.right ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.right li {
  margin-bottom: 10px;	
}

input {
  font-family: Open Sans, Helvetica, sans-serif;   
}



/* header styles */

#header { 
    border-bottom: 1px solid #222222;
    background: #000;
    float: left;
    width: 100%;
    height: auto;
    padding: 15px 0 40px 0;
    margin: 0 0 15px 0;
}

#basket {
    float: left;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

#basket #cart, #basket #currency, #basket #language, #basket #contact {
    color: #897963;
    float: right;
    font-size: 16px;
    height: 20px;
    margin: 0 0px 0 0;
    padding: 8px 10px;
    position: relative;
    width: auto;
}

#basket #cart a, #basket #currency a, #basket #language a, #basket #contact a {
  color: #897963;
}

#basket #cart a:hover, #basket #currency a:hover, #basket #language a:hover, #basket #contact a:hover {
  color: #d2b48c;
}

#basket #cart a.selected, #basket #currency a.selected, #basket #language a.selected {
  color: #fff;
  font-weight: ;
  opacity: 1;
}

#basket #cart {
    margin-right: 0;
    padding-right: 0;
}


#currency, #language, #contact {
  border-right: 1px solid #333;
}

#currency a {
    background: none repeat scroll 0 0 #252525;
    margin-right: 0;
    padding: 3px 7px;
    position: relative;
    top: 0;
}

#language {
    text-align: left;
}

#language a {
  margin: 0 4px 0 0; 
  position: relative;
}

#logo {
    float: left;
    position: relative;
    width: 300px;
    margin: 0px 0 0px 0;
    height: auto;
    position: relative;
    bottom: -20px;
}

div#contact {
 float: right;
 color: white;
 font-size: 0.9em;
 margin-top: 10px;	
}

#logo h1 {
  background: url('/images/logo.png') no-repeat top left;
  height: 60px;
  width: 300px;	
  margin: 0;
  border-bottom: none;
}

#logo h1 span {
  display: none;	
}

#logo:hover {
  opacity: 0.8;	
}

ul#top-nav {
  float: right ;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: -15px;
  display: none;
}
  
ul#top-nav li {
  float:left;   
}

ul#top-nav li a {
  font-size: 14px;
  padding: 0 15px;
  color: #897963;
}

ul#top-nav li:last-child a {
  padding-right: 0;   
}

ul#nav {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  float: right;
  position: absolute;
  right: 0;
  bottom: -25px;
}

ul#nav li {
    font-size: 22px;
    text-transform: uppercase;
    padding: 0;
    float: left;
    position: relative;
}

ul#nav li:not(:last-child) {
}

ul#nav li:not(:first-child) {
}


ul#nav li:hover {
}



ul#nav li:last-child a {
  padding-right:0;
}


ul#nav a:link, #nav a:visited {
    color: #fff;
    text-decoration: none;
    display: block;
    height: auto;
    padding: 0 25px;
}

ul#nav a:hover, #nav a:active {
  color: #AF2020;
  cursor: pointer;
}

ul#right-nav {
  list-style-type: none;
  width: 100%;
  float: right;
  margin: 0px 0 20px 0;
  padding: 0;
  font-size: 13px;	
}

ul#right-nav li a {
    border-bottom: 1px dashed #444444;
    float: left;
    padding: 10px 15px;
    text-align: center;
    width: 210px;
    color:#897963;   
}

ul#right-nav li a:hover {
  color: #D2B48C;   
}

ul#right-nav li.selected a {
    background-color: #333333;
    color: #D2B48C;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: -0.5px;
}

a.contact {
  color: white;	
  margin-right: 10px;
}

a.contact:hover {
  color: #BD1B30;	
}

/* END HEADER STYLES */


/* START MAIN STYLES */

#main {
  float: left;
  width: 100%;   
}


div#content {
  margin: 0 auto;
  width: 890px;
  padding: 30px;	
}

div#content p {
  line-height: 1.5em;
  margin-top: 0;	
}

div#content ul {
  line-height: 1.5em;
  list-style-type: square;	
}  

div#content img.product-photo-main {
  float: left;
  border: 3px solid white;	
}

#product-photos-small {
  margin-top: 10px;	
}

#product-photos-small a {
  margin-right: 10px;
  float: left;
}

div.flatpage-content {
    width: 550px;

}

div.flatpage-content p {
  font-size: 15px;	
}

div.flatpage-content div.left {
  background: none;
  width: 500px;	
  padding: 0;
  float: left;
}

div.flatpage-content div.left p {
  width: 500px;	
}

div.flatpage-content div.right {
  background: url("/images/gray-stripe.png") repeat scroll 0 0 #E1E1E1;
  -moz-box-shadow: 0 2px 5px #D1D1D1;
  width: 300px;
  float: right;
  padding: 0;
  -moz-border-radius: 10px;
  padding: 20px;
}

div.flatpage-content div.right p {
  margin: 0;
  font-size: 14px;	
}

div#content img {
  float: right;
}

div.left {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #333333;
    padding: 25px;
    width: 580px;
    float: left;
}

div.right {
  float: right;
  width: 240px;
}

div.right div p {
  color: #999;  
} 

div.right div h4 {
  font-size: 20px;
  margin-top: 0;
  border-bottom: 1px solid #444;   
}

.right .box {
  float: right;
  background: #333;  
  position: relative;
  overflow: hidden;
  margin: 0 0 20px 0; 
}

.right .box img.back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.right .box .inner {
  padding: 15px;   
  position: relative;
  z-index: 20;
}

.right .box h3 {
  font-size: 16px; 
  margin: 0;  
}

.right .box p {
  font-size: 14px;
  margin: 0;
  padding: 0; 
  color: #999999;  
}

.product-promo {
    float: left;
    margin: 0px 5px 45px 0;
    width: 295px;
    height: auto;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.right .product-promo {
  width: 240px;   
  margin-bottom: 25px;
}

.product-promo.last {
    margin-right: 0;
}

.product-promo .tile {
  position: absolute;
  bottom: -223px;
  left: 0;
  width: 100%;
  display: block;
  height: 223px;
  background: #fff;
  z-index: 20; 
  overflow: hidden; 
  color: #333; 
}

.product-promo:hover {
  cursor: pointer;   
}

.product-promo:hover h3 a {
  color: #fff ;   
}

.product-promo .tile h4 {
    color: #333333;
    font-size: 15px;
    font-weight: 100;
    margin: 0;
    padding: 0 0 5px;  
}



.product-promo .image {
  float: left; 
  background: #fff;
  height: 220px; 
  width: 295px;
  position: relative; 
}

.right .product-promo .image {
  width: 240px;  
  height: 165px
} 

.product-promo .image img {
   
}

.product-promo .image a {
  float: left;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto; 
}

.product-promo .text {
  padding: 10px 15px;
}

.product-promo h3 a {
    color: #D2B48C;
    font-size: 16px;
}


.product-promo .text p {
  font-size:13px;
  margin-top: 5px;
  color: #555;
}




/* FOOTER STYLES */

#footer {
    margin: 30px auto 0;
    float: left;
    width: 100%;
    background: #000;
    border-top: 1px solid #222;
    padding: 20px 0 80px;
}

#footer #social {
  list-style-type: none;
  text-align: center;   
}

#footer #social li {
  display: inline-table;   
}

#footer #social li a {
  height: 52px;
  width: 51px;
  float: left;
  background: url('/images/social-icons.png') no-repeat top left;   
}

#footer #social li a:hover {
  background-position: 0px -52px;   
}

#footer #social li a#twitter {
  background-position: -52px 0px;   
}

#footer #social li a#twitter:hover {
  background-position: -52px -52px;   
}

#footer #social li a#facebook {
  background-position: -104px 0px;   
}

#footer #social li a#facebook:hover {
  background-position: -104px -52px;   
}

#footer #social li a#google {
  background-position: -156px 0px;   
}

#footer #social li a#google:hover {
  background-position: -156px -52px;   
}

#footer #social li a#youtube {
  background-position: -207px 0px;   
}

#footer #social li a#youtube:hover {
  background-position: -207px -52px;   
}




#footer p {
  color: #fff;
  font-size: 13px;
  margin-top: 0;
  text-align: center;	
}

#footer p a {
  color:#897963;   
}

#footer p a:hover {
 color: #D2B48C;   
}

#footer ul {
  padding-left: 0;
  list-style-type: none;
  text-align: center;	
}

div#footer ul li {
    color: #fff;
    display: inline-table;
    font-size: 13px;
    margin-right: 20px;
}

div#footer ul li a:link, div#footer ul li a:visited {
  	color: #fff;
}

div#footer ul li a:hover, div#footer ul li a:active {
  	color: #AF2020;
}

/* shopping basket and ordering steps styles */

#items {
  float: left;
  padding: 20px 3%;
  background: #222;
  color: #999;
  width: 94%;     
}

#steps {
    background-color: #222;
    border-radius: 5px 5px 0 0;
    color: #e1e1e1;
    float: right;
    font-size: 25px;
    margin: 10px 0 0;
    padding: 10px 15px;
    position: relative;
    top: 20px;
}

#checkout-button {
  font-size: 13px;	
  margin-top: 20px;
  float: left;
  text-align: right;
  width: 100%;
  color: #999;
}

#checkout-button {
  float: right;
  width: 350px;   
}

#checkout-button a {
    float: right;
    font-size: 28px;
    font-weight: normal;
    margin: 0;
}

#checkout-button p {
  float: right;
}

/* FOOTER STYLES */

#emailsignup {
  float: left;
  padding: 15px 0;
}

#email-signup #loading {
  display: none;	
} 

#email-signup input[type="text"] {
    background: none repeat scroll 0 0 #222222;
    border: 1px solid #333333;
    color: #666666;
    float: left;
    font-family: Open Sans,sans-serif;
    font-size: 15px;
    padding: 5px 10px 5px;
    position: relative;
    width: 350px;
}

#email-signup input[type="text"]:focus {
  background: #e1e1e1;
  color: #333;
  border: 1px solid #e1e1e1;   
}

#email-signup input[type="submit"].button {
    padding: 5px 6px 5px;
    font-size: 15px;
    width: 100px;
}

#email-signup p {
    color: #D2B48C;
    float: left;
    font-size: 18px;
    line-height: 1em;
    margin: 3px 15px 5px 0;
    text-align: left;
    width: auto;
}


#follow {
  float: left;
  width: 100%;
  margin: 20px 0 0 0;   
}


#follow a {
  height: 32px;
  width: 32px;
  float: left;
  margin: 0 5px 0 0;
  display: block;
  background: url('/images/social.png') no-repeat 0 0;;	
}

#follow a:hover {
  opacity: 0.8;	
}

#follow a.tw {
  background-position: -32px 0px;	
}

#follow a.yt {
  background-position: -192px 0px;	
}

#follow a.pin {
  background-position: -160px 0px;	
}

/* END FOOTER STYLES */

#infobar {
  width: 100%;
  float: left;
  padding: 10px 0;
  background: #555;   
}
