{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div id="featured-small"></div>

<div id="main-text">

<h2 class="fontface">Register for an account</h2>
<p class="introduction">You need to register an account to purchase tea. Our promise - will never pass on your private information to any other individual or company. We hate spam as much as you do!</p>

<form method="post" action=".">
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form>

</div>
{% endblock %}
