{% extends "base.html" %}
{% load thumbnail %}

{% block pagetitle %}Our blog{% endblock %}

{% block extracss %}
<style type="text/css">


div.entry-list {
    float: left;
    width: 540px;
}

div.entry {
  float: left;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
  width: 100%;	
}

div.entry.last {
  border-bottom: none;	
}

div.entry div.image {
  float: left;
  margin-right: 20px;	
}

div#content div.entry div.image img {
  border: 3px solid #fff;	
}

div.entry div.text {
  float: left;
  width: 100%;	
}

div#content div.entry div.text h3 {
  margin-bottom: 5px;
  font-size: 18px;	
}

div#content div.entry div.text p {
  margin: 5px 0px;	
  font-size: 14px;
}

div.entry div.text span.entry-meta {
  font-size: 11px;
  text-transform: uppercase;
  color: #666;	
}

a.see-more {
  float: right;
  font-size: 13px;	
}

h3.title {
  font-size: 2em;
  margin-bottom: 20px;	
}

.pagination {
  float: left;
  width: 100%;   
}

.pagination .step-links a {
  font-weight: bold;   
}

</style>
{% endblock %}

{% block meta-description %}proAdvanced sports blog{% endblock %}
{% block title %}our blog{% endblock %}


{% block content %}

<div id="feature">	
	<h1>Our blog</h1>

	<div class="left">
 		<div class="entry-list">
			{% include "blog/snippets/entry-list.html" %}
		</div>
  </div>
  
  <div class="right">
		{% include "blog/snippets/blog-right.html" %}
  </div>

</div>
{% endblock %}