{% extends "base.html" %}
{% load thumbnail %}

{% block pagetitle %}Your basket ({{ basket_quantity }}){% endblock %}

{% block extracss %}
<script src="http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js"></script>

<style type="text/css">

h1 {
  padding-bottom: 20px;	
}

.basket-row {
  float: left;
  width: 100%;	
  border-bottom: 1px solid #e1e1e1;
  padding: 20px 0;
  
}

.basket-row .remove {
  width: 40px;
  float: left;
  font-size: 10px;	
}

.basket-row .photo {
  float: left;
  width: 100px;	
  margin-right: 20px;
  display: block;
}

.basket-row .details {
  float: left;
  width: 300px;	
}

.basket-row .details a {
  font-weight: bold;	
}

.basket-row .details .remove {
  font-size: 10px;	
  font-weight: normal;
}

.basket-row .quantity {
  float: left;
  width: 150px;
  font-weight: bold;	
}

.basket-row .quantity a {
  font-weight: bold;
  font-size: 18px;	
}

.basket-row .total {
  float: left;
  width:180px;	
}

#totals {
  float: left;
  margin-top: 30px;
  width: 100%;
  font-weight: bold;
}

#totals .label {
  margin-left: 470px;
  float: left;	
}

#totals .total {
  float: left;
  margin-left: 45px;	
}

#checkout-button {
  font-size: 13px;	
  margin-top: 40px;
  float: left;
  text-align: right;
  width: 100%;
}

#checkout-button a {
  font-weight: bold;
  font-size: 20px;	
}

div.total ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 13px;	
}

div.total ul li {
  margin-bottom: 5px;	
}

div.total span.red {
  font-size: 12px;
  font-weight: bold;
  color: red;	
}

div.total span.black a {
  font-size: 12px;
  font-weight: bold;
  color: #000;	
}

</style>
{% endblock %}

{% block content %}

<div id="feature">

<div id="steps">
Step 1/4
</div>

<h1>Your shopping basket</h1>


{% if not basket_items %}
<p class="introduction">Your basket is empty! </p>
{% else %}

<p class="introduction">You currently have {{ basket_quantity }} item{% ifequal basket_quantity 1 %}{% else %}s{% endifequal %} in your basket</p>

      
{% for thing in basket_items %}
  <div class="basket-row">
    <div class="remove"></div>
	<div class="photo">
		<img src="{% thumbnail thing.item.parent_product.image 100x100 %}"/><br/>
	</div>

	<div class="details">
		<a title="{{ thing.item.parent_product.description }}" href="{% url product_view thing.item.parent_product.slug %}">{{ thing.item.parent_product.name }}</a><br/>
		{{ thing.item.price_unit }}{{ thing.item.price }}<br/>
		<a class="remove" alt="remove item from your basket" href="{% url remove_from_basket thing.item.id %}">Remove</a>
	</div>


	<div class="quantity">{{ thing.quantity }} <a href="{% url increase_quantity thing.item.id %}">+</a>{% ifequal thing.quantity 1 %}{% else %} <a href="{% url reduce_quantity thing.item.id %}">-</a>{% endifequal %} </div>
	
	<div class="total">{{ thing.item.price_unit}}{{ thing.get_price }}</div>
		
  </div>
{% endfor %}

  <div class="basket-row">
		<div class="photo"><em>&nbsp;</em></div>
		<div class="details">Your shipping preference:<br/><img style="float:left;margin-right:10px; position:relative;top:4px;" src="/images/us.png"/>
			<span style="font-size: 10px; position:relative; top:5px;">Remember we ship to the USA only. For international orders, <a href="/contact-us/">contact us to order.</a></span></div>
		<div class="quantity">&nbsp;</div>
		<div class="total">
		<form action="" method="post">
			<ul>
				<li>
					<label for="id_shipping_choice_0">
					<input type="radio" {% ifequal shipping_choice "high" %}checked{% endifequal %} id="id_shipping_choice_0" value="high" name="shipping_choice" /> UPS Fast (${{ shipping_price_high|floatformat:2 }})
					</label>
				</li>
				<li>
					<label for="id_shipping_choice_1">
					<input type="radio" {% ifnotequal shipping_choice "high" %}checked{% endifnotequal %} id="id_shipping_choice_1" value="low" name="shipping_choice" /> UPS Ground ({{ shipping_price_low|floatformat:2 }})
					</label>
				</li>
</ul>
			<input type="submit" value="Update"/>
		</form>
		</div>	
  </div>
  

  <div class="basket-row">
		<div class="photo"><em>&nbsp;</em></div>
		<div class="details">Have a discount code?</div>
		<div class="quantity">&nbsp;</div>
		<div class="total">
		{% if discount %}
		<span class="red">Your discount code is worth {{ discount.discount_value|cut:"0." }}% off!</span> 
		<span class="black"><a href="">Clear discount</a></span>
		{% else %}
		<form action="" method="post">
			<input type="text" name="discount_code" id="id_discount_code" value="{{ discount_code }}" />
			{% if discount_message %}
			    <span class="red">{{ discount_message }}</span><br/>
			{% endif %}
			<input type="submit" value="Update"/>
		</form>
		{% endif %}
		</div>	
  </div>

  <div id="totals">
	<div class="label">TOTAL:</div><div class="total">${{ total_price|floatformat:2 }}</div>
  </div>
	
	
<div id="checkout-button">
	<a href="{% url order_check_details %}">Proceed to checkout &raquo;</a>
	<p class="checkout"><strong>Next step:</strong> Please provide your address and personal details</p>
</div>


	
{% endif %}




</div>
{% endblock %}
