{% extends "base.html" %}
{% load thumbnail %}

{% block pagetitle %}Your basket ({{ basket_quantity }}){% endblock %}


{% block content %}

<div id="featured-small"></div>

<div id="main-text-wide">


<h2 class="fontface">Your shopping basket</h2>


{% if not basket_items %}
<p class="introduction">Your basket is empty! </p>
{% else %}

<p class="introduction">You currently have {{ basket_quantity }} item{% ifequal basket_quantity 1 %}{% else %}s{% endifequal %} in your basket

</p>
<div id="checkout-button">


<a href="{% url order_check_details %}"></a>
<p class="checkout"><strong>Next step:</strong> Please provide your address and personal details</p>
</div>


	<div id="basket-full">
	
	  <div class="basket-head-row">
	    <div class="tea-remove">&nbsp;</div>
		<div class="tea-name">&nbsp;</div>
		<div class="tea-weight">ITEM</div>
		<div class="tea-price">&nbsp;</div>
		<div class="tea-quantity">AMOUNT</div>
		<div class="tea-total">TOTAL</div>
		
      </div>
      
	{% for thing in basket_items %}
	  <div class="basket-row">
	    <div class="tea-remove"><a title="Remove" alt="remove item from your basket" href="{% url remove_from_basket thing.item.id %}"></a></div>
		<div class="tea-name">
			<img src="{% thumbnail thing.item.parent_product.image 80x80 %}"/><br/>
		</div>
		<div class="tea-weight">
			<a title="{{ thing.item.parent_product.description }}" href="{% url tea_view thing.item.parent_product.slug %}">{{ thing.item.parent_product.name }}</a>
			{% if not thing.item.weight %}{% else %}({{ thing.item.weight|floatformat }}{{ thing.item.weight_unit }}) {% endif %}<br/>
			{{ thing.item.price_unit }}{{ thing.item.price }}
		</div>
		<div class="tea-price">&nbsp;</div>
		<div class="tea-quantity">{{ thing.quantity }} <a href="{% url increase_quantity thing.item.id %}">+</a>{% ifequal thing.quantity 1 %}{% else %} <a href="{% url reduce_quantity thing.item.id %}">-</a>{% endifequal %} </div>
		<div class="tea-total">{{ thing.item.price_unit}}{{ thing.get_price }}</div>
		
	  </div>
	{% endfor %}
	  <div class="basket-row postage">
	  	<div class="tea-remove">&nbsp;</div>
		<div class="tea-name"><em>Postage</em></div>
		<div class="tea-weight">&nbsp;</div>
		<div class="tea-price">&nbsp;</div>
		<div class="tea-quantity">&nbsp;</div>
		<div class="tea-total">£4.00</div>
	  </div>
	</div>
	<br clear="all"/>
	<div id="totals">
		<div class="label">TOTAL:</div><div class="total">£{{ total_price }}</div>
	</div>
	<br clear="all"/>


	
{% endif %}




</div>
{% endblock %}
