{% extends "base.html" %}
{% load thumbnail i18n %}

{% block pagetitle %}{% blocktrans %}Your basket ({{ basket_quantity }}){% endblocktrans %}{% endblock %}


{% block extracss %}
<script src="http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js"></script>

<style type="text/css">

.basket-row {
  float: left;
  width: 100%;	
  border-bottom: 1px solid #333;
  padding: 10px 0;
}

.basket-row:first-child {
  padding-top: 0;   
}

.basket-row:last-child {
  padding-bottom: 0;
  border-bottom: none;   
}

.basket-row .remove {
  width: 40px;
  float: left;
  font-size: 10px;	
}

.basket-row .photo {
  float: left;
  width: 80px;	
  margin-right: 20px;
  display: block;
}

.basket-row .details {
  float: left;
  width: 450px;	
  font-size: 16px;
}

.basket-row.shipping .details, .basket-row.discount .details {
  width: 600px;   
}

.basket-row.discount .details strong {
  float: left;
  margin: 0 20px 0 0;   
}

.basket-row.discount form {
  float: left;   
}

.basket-row.discount form input[type="text"] {
    background: none repeat scroll 0 0 #444444;
    border: 1px solid #555555;
    color: #FFFFFF;
    font-size: 12px;
    padding: 3px 6px;
    width: 200px;
}

.basket-row.discount form input[type="submit"] {
    font-size: 12px;
    padding: 3px 6px;
}

.basket-row .details a, .details strong {
    color: #FFFFFF;
    font-weight: normal;
    font-size: 18px;
}

.basket-row .details .remove {
  font-size: 12px;	
  font-weight: normal;
}

.basket-row .quantity {
  float: left;
  width: 150px;
  font-size: 18px;	
}

.basket-row.totals .quantity {
   font-size: 22px;
   color: #fff;
   text-align: right;
}

.basket-row .quantity a {
    background: none repeat scroll 0 0 #333333;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: normal;
    line-height: 1em;
    margin: 0 0 0 5px;
    padding: 0 5px;
    position: relative;
    top: 3px;
}

.basket-row .total {
    color: #FFFFFF;
    float: left;
    font-size: 22px;
    text-align: right;
    width: 120px;
}



</style>
{% endblock %}

{% block content %}

<div id="feature">

{% if basket_items %}
<div id="steps">
{% trans 'Step 1/4' %}
</div>
{% endif %}

<h1>{% trans 'Your shopping basket' %}</h1>


{% if not basket_items %}
<p class="introduction">{% trans 'Your basket is empty!' %}</p>
{% else %}


<div id="items">
  
{% for thing in basket_items %}
  <div class="basket-row">
    <div class="remove"></div>
	<div class="photo">
	    {% thumbnail thing.item.parent_product.image "80x80" crop="center" as im %}
		<img src="{{ im.url }}"/><br/>
		{% endthumbnail %}
	</div>

	<div class="details">
		<a title="{{ thing.item.parent_product.description }}" href="{% url product_view thing.item.parent_product.slug %}">{{ thing.item.parent_product.name }}</a><br/>
		{{ thing.item.currency.symbol }}{{ thing.item.price }}<br/>
		<a class="remove" alt="remove item from your basket" href="{% url remove_from_basket thing.item.id %}">{% trans 'Remove' %}</a>
	</div>


	<div class="quantity">{{ thing.quantity }} <a href="{% url increase_quantity thing.item.id %}">+</a>{% ifequal thing.quantity 1 %}{% else %} <a href="{% url reduce_quantity thing.item.id %}">-</a>{% endifequal %} </div>
	
	<div class="total">{{ currency.symbol }}{{ thing.get_price }}</div>
		
  </div>
{% endfor %}

<div class="basket-row shipping">
    <div class="photo"><em>&nbsp;</em></div>
    <div class="details">
        <strong>{% trans 'Shipping' %}</strong><br/>
        {% if shopsettings.use_shipwire %}			
            <span>{% trans "We'll calculate accurate shipping rates after the next step, when we know where to send your products!" %}</span>
	   {% else %}
	       <span style="font-size: 14px;">{{ shopsettings.get_shipping_country_choices_display }}{% trans ' - FEDEX Home Delivery/UPS Ground' %}</span>
	   {% endif %}
	</div>
	<div class="total">
		{% if not shopsettings.use_shipwire	%}
		  	{{ currency.symbol }}{{ shipping_price|floatformat:"2" }}
		{% endif %}   	
	</div>	
</div>  

  <div class="basket-row discount">
		<div class="photo"><em>&nbsp;</em></div>
		<div class="details"><strong>{% trans 'Have a discount code?' %}</strong>
		
		{% if discount %}
		  {% with discount.discount_value|cut:"0." as dis %}
		<span class="red">{% blocktrans %}Your discount code is worth {{ dis }}% off!{% endblocktrans %}</span> 
		  {% endwith %}
		<span class="black"><a href="{% url clear_discount %}">{% trans 'Clear discount' %}</a></span>
		{% else %}
		<form action="" method="post">
			<input type="text" name="discount_code" id="id_discount_code" value="{{ discount_code }}" />
			{% if discount_message %}
			    <span class="red">{{ discount_message }}</span><br/>
			{% endif %}
			<input type="submit" class="button" value="{% trans 'Update' %}"/>
		</form>
		{% endif %}
		</div>
		<div class="total">
		  {% if discount %}
		      -{{ currency.symbol }}{{ discount_value|floatformat:"2" }}
		  {% endif %}  
		</div>	
  </div>

<div class="basket-row totals">
    <div class="photo">&nbsp;</div>
    <div class="details">&nbsp;</div>
	<div class="quantity">{% trans 'Subtotal:' %}</div>
	<div class="total">{{ currency.symbol }}{{ total_price|floatformat:2 }}</div>
</div>
  
</div>

<img src="/images/paypal_icon_black_horz.png" style="margin: 10px 0 0;"/>
	
<div id="checkout-button">
	<a class="button arrow" href="{% url order_check_details %}">{% trans 'Proceed to checkout' %}</a>
	<p><strong>{% trans 'Next step:' %}</strong> {% trans 'Please provide your address and personal details' %}</p>
</div>


	
{% endif %}




</div>
{% endblock %}
