{% extends "base.html" %}
{% load thumbnail %}

{% block pagetitle %}{{ shopsettings.homepage_meta_title }}{% endblock %}
{% block metadescription %}{{ shopsettings.homepage_meta_description }}{% endblock %}

{% block extracss %}
<style type="text/css">
h1 {
  margin-bottom: 0;	
  border-bottom: none;
  color: #BD1B30;
}

div#feature {
  padding-top: 25px;	
}

div.left {
  width: 500px;	
}

div.right {
  width: 350px;	
}

.video {
    border-top: 3px dotted #E1E1E1;
    float: left;
    margin-top: 30px;
    padding-top: 20px;
    width: 100%;
}

.video .benefits {
  float: right;
  width: 340px;	
  font-size: 18px;
}

.video .benefits ul {
  list-style-type: square;	
}

.reviews {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 3px dotted #e1e1e1;	
}

.reviews .box {
  width: 300px;
  float: left;
  margin-right: 30px;	
}

.reviews .box p {
  font-size: 13px;	
}

.reviews .box p strong {
  position: relative;
  top: 5px;
}

.reviews h3 span a {
  font-size: 14px;	
}

div#feature p.super-short {
  color: #000;	
}

p.quote {
  font-family: Georgia, serif;
  font-size: 18px;
  float: left;
  width: 100%;
  line-height: 1.5em;
  color: #666;
  margin: 30px 0 20px 0;	
  border-top: 3px dotted #e1e1e1;
  border-bottom: 3px dotted #e1e1e1;
  padding: 15px 0 10px 0;
}

p.quote strong {
  color: #000;
  font-family: Helvetica, sans-serif;
  font-size: 13px;	
}



</style>
{% endblock %}

{% block content %}

<div id="feature-container">
	<div id="feature">	
		{% for product in featured %}	
			<div class="right">
				<h1>{{ product.name }}</h1>	
				<p class="super-short">{{ product.super_short_description }}</p>
				{{ product.short_description|safe }}
				<a class="more" href="{% url product_view product.slug %}">Find out more &raquo; </a>		
			</div>
			<div class="left">
				<a href="{% url product_view product.slug %}"><img class="main" src="{% thumbnail product.image 500x500 %}"></a>
			</div>
		{% endfor %}
	
		<div class="video">
			<div class="benefits">
				{{ shopsettings.homepage_benefits_text|safe }}
			</div>
				
				<img src="/images/renan.jpg">
				
		</div>
		
		<div class="reviews">
			<h3>Testimonials from our happy customers <span><a href="{% url testimonials %}">- see more testimonials</a></span></h3>
			{% for r in reviews %}
			<div class="box">
			  <p><em>{{ r.text|safe }}</em><br/><strong>{{ r.owner }}</strong></p>
			</div>
			
			{% endfor %}
			<div class="paypal" style="background-color: #fff;padding: 0 10px 10px; float: left; margin-bottom: 80px;"><img src="/images/paypal-icon.png"></div>
		</div>
	</div>
</div>
	

{% endblock %}
