{% extends "base.html" %}
{% load thumbnail i18n %}

{% block pagetitle %}{{ shopsettings.homepage_meta_title }}{% endblock %}
{% block metadescription %}{{ shopsettings.homepage_meta_description }}{% endblock %}

{% block extrajs %}
<script>
$(function() {
    $("#scrollable").scrollable({ circular: true }).autoscroll({ autoplay: true, interval: 3000 });
});

$(document).ready( function() {
    $('.product-promo').hover( function() {
        $(this).find('.tile').animate({'bottom': '0',}, 200) ;
    }, function() {
        $(this).find('.tile').animate({'bottom': '-250',}, 200);  
    });
});
</script>

{% endblock %}

{% block extracss %}
<style type="text/css">
h1 {
  margin-bottom: 0;	
  border-bottom: none;
  color: #BD1B30;
}

div.left {
  width: 500px;	
}

div.right {
  width: 350px;	
}

.video, .reviews {
    float: left;
    width: 100%;
    margin: 20px 0 0;
}

.video .benefits {
  float: right;
  width: 340px;	
}

.video .benefits ul {
  list-style-type: square;	
}


.reviews .box {
  width: 300px;
  float: left;
  margin-right: 30px;	
}

.reviews .box p {
  color: #D2B48C;   
}

.reviews .box p .owner {
  color: #fff;   
}

div.box.last {
  margin-right: 0;	
}


div#feature p.super-short {
  color: #000;	
}

p.quote {
  font-family: Georgia, serif;
  font-size: 18px;
  float: left;
  width: 100%;
  line-height: 1.5em;
  color: #666;
  margin: 30px 0 20px 0;	
  border-top: 3px dotted #e1e1e1;
  border-bottom: 3px dotted #e1e1e1;
  padding: 15px 0 10px 0;
}

p.quote strong {
  color: #000;
  font-size: 13px;	
}

div.paypal {
    background-color: #fff;
    float: right;
    margin-bottom: 0;
    padding: 20px;
    width: 200px;
}

#feature ul.social {
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 0;
  float: left;	
}

#feature ul.social li {
  float: left;	
}



/* root element for single scroll */
	.scroll {
		position:relative;
		overflow:hidden;
		width: 500px;
		height: 431px;
		float:left;
		margin-bottom: 30px;
	}
	
	/* root element for the scroll pics */
	.scroll .pics {
		width:20000em;
		position:absolute;
		clear:both;
	}
	
	/* single scroll item */
	.pics div {
		float:left;
		cursor:pointer;
		width:500px !important;
		height:431px;
		margin:0px;
	}
	
a.browse {
  z-index: 20;
  position: relative;	
}


#feature {
   position: relative;
    
}

#feature #image-wrap {
  width: 100%;
  height:450px;   
}

#feature #image-wrap img {
  width: 100%;   
}

#feature #tabs {
  border-top: 1px solid #262626;
  float: left;
  width: 100%;
  margin: 0 0 30px 0;  
}

#feature #tabs ul {
  list-style-type:none;
  padding: 0;
  margin: 0;   
}

#feature #tabs li {
  float: left;
  width: 25%;
}

#feature #tabs li a {
  padding: 20px 5%;
  text-align: center;
  width: 89%;
  height: 30px;
  float: left;
  border-right: 1px solid #262626;
  color: #897963;
}

#feature #tabs li:last-child a {
  border-right: none;   
}

#feature #tabs li a.selected {
  color: #fff;
  font-size: 22px;   
}







/*
root element for the scrollable.  when scrolling occurs this
element stays still.
*/
#scrollable {
  /* required settings */
  position:relative;
  overflow:hidden;
  width: 900px;
  height:450px;
}
 
/*
root element for scrollable items. Must be absolutely positioned
and it should have a extremely large width to accommodate scrollable
items.  it's enough that you set width and height for the root element
and not for this element.
*/
#scrollable .items {
  /* this cannot be too large */
  width:20000em;
  position:absolute;
}
 
/*
a single item. must be floated in horizontal scrolling.  typically,
this element is the one that *you* will style the most.
*/
.items div {
  float:left;
  position: relative;
}

.items div img {
  width: 900px;   
}

a.browse {
  float: left;
  
background: -moz-linear-gradient(left,  rgba(170,170,170,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(170,170,170,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(170,170,170,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(170,170,170,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(170,170,170,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(170,170,170,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6aaaaaa', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */


  height: 70px;
  width: 100px;
  position: absolute; 
  top: 45%;
  margin: 0px 0 0 0;
  opacity: 0; 
}

a.browse:hover {
  opacity: 0.3;   
}

a.next.browse {
  float: right;
  right: 0; 
background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(170,170,170,0.65) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(170,170,170,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(170,170,170,0.65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(170,170,170,0.65) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(170,170,170,0.65) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(170,170,170,0.65) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6aaaaaa',GradientType=1 ); /* IE6-9 */
  
}

a.browse .arrow {
    border-color: rgba(0, 0, 0, 0) #fff;
    border-style: solid solid solid none;
    border-width: 25px 25px 25px 0;
    left: 10px;
    position: absolute;
    top: 10px;
}

a.browse.next .arrow {
    border-color: rgba(0, 0, 0, 0) #fff;
    border-style: solid none solid solid ;
    border-width: 25px 0 25px 25px;
    right: 10px;
    left: auto;
    position: absolute;
}


</style>
{% endblock %}

{% block content %}


<div id="feature">
	
	<div id="scrollable">
	
	   <div class="items">
	
    	{% if request.LANGUAGE_CODE == 'fr' and currency.code != 'EUR' %}
    	<div>
            <img src="/images/homepage/01_en_USD.jpg" />
            <a href="{% url product_view _('proreturn-golf-practice-net') %}"><span class="link"></span></a>
        </div>
        <div>
            <img src="/images/homepage/02_en_USD.jpg" />
            <a href="{% url product_view _('golf_net_package') %}"><span class="link"></span></a>
        </div>
        <div>
            <img src="/images/homepage/03_en_USD.jpg" />
            <a href="{% url product_view _('proapproach-popup-net') %}"><span class="link"></span></a>
        </div>
        <div>
            <img src="/images/homepage/04_en_USD.jpg" />
            <a href="{% url products %}"><span class="link"></span></a>
        </div>
    	
    	
    	{% else %}    	
    	<div>
            <img src="/images/homepage/01_{{ request.LANGUAGE_CODE }}_{{ currency.code }}.jpg" />
            <a href="{% url product_view _('proreturn-golf-practice-net') %}"><span class="link"></span></a>
        </div>
        <div>
            <img src="/images/homepage/02_{{ request.LANGUAGE_CODE }}_{{ currency.code }}.jpg" />
            <a href="{% url product_view _('golf_net_package') %}"><span class="link"></span></a>
        </div>
        <div>
            <img src="/images/homepage/03_{{ request.LANGUAGE_CODE }}_{{ currency.code }}.jpg" />
            <a href="{% url product_view _('proapproach-popup-net') %}"><span class="link"></span></a>
        </div>
        <div>
            <img src="/images/homepage/04_{{ request.LANGUAGE_CODE }}_{{ currency.code }}.jpg" />
            <a href="{% url products %}"><span class="link"></span></a>
        </div>
        {% endif %}
        
        </div>
        
        
    </div>

    <a href="#" class="prev browse left"><span class="arrow"></span></a>
    <a href="#" class="next browse right"><span class="arrow"></span></a>

</div>
			
			
    <div class="hr"></div>
    
    <div id="products">
        {% for product in products %}
            <div class="product-promo {% cycle 'first' '' 'last' %}">
                
                <div class="tile">
                <a href="{% url product_view product.slug %}"><span class="link"></span></a>
                <div class="text">    
          		{% for price in prices %}  	
            		{% if forloop.first %}
            			<div class="price">
            			{{ currency.symbol }}{{ price.price|floatformat }} 
            			{% if price.original_price %}
    					<span class="strikethrough">{{ currency.symbol }}{{ price.original_price }}</span>
    					{% endif %}
                		</div>
    		        {% else %}
        		    {% endif %}
            	{% endfor %}
            	
	      	    <p>{{ product.short_description|safe }}</p> 
	      	    </div>
	      	    </div>
	      	    
	      	    <h3>
          			<a href="{% url product_view product.slug %}" 
          			title="{{ product.name }} - {{ product.description }}">{{ product.name }}</a>
          		</h3>
            
                <div class="image">
                
                    {% thumbnail product.image "260x220" crop="" as im %}
                	<a href="{% url product_view product.slug %}" style="height:{{ im.height }}px; width:{{ im.width }}px;">
                	<img class="" src="{{ im.url }}" alt="{{ product.description }}" title="{{ product.description }}"/>
                	</a>
                	{% endthumbnail %}
    			</div>
            </div>
        {% endfor %}
    </div>
	
	<div class="hr"></div>
	
		<div class="video">
			<div class="benefits">
				{% if featured.featured_homepage_content %}
				    {{ featured.featured_homepage_content|safe }}
				{% else %}
				    {{ shopsettings.homepage_benefits_text|safe }}
				{% endif %}
			</div>
                {% if featured.featured_homepage_video %}
                    {{ featured.featured_homepage_video|safe }}
                {% else %}
                    {{ shopsettings.homepage_video_code|safe }}
                {% endif %}				
								
		</div>
		
		<div class="hr"></div>
		
		<div class="reviews">
			<h3>{% trans 'Testimonials from Golfers' %} <span><a href="{% url testimonials %}">- {% trans 'see more testimonials' %}</a></span></h3>

			<div class="paypal">
				
				<img src="/images/paypal-icon.png">
			</div>
			{% for r in reviews %}
			<div class="box {% if forloop.last %}last{% endif %}">
			  <p>{{ r.text|safe }}<br/><span class="owner">{{ r.owner }}</span></p>
			</div>
			
			{% endfor %}

		</div>
		
		
	</div>
</div>
	

{% endblock %}
