{% extends "base.html" %}

{% block content %}

<div id="feature">

<h1>Congratulations!</h2>

<p>Your order has been placed successfully and you'll be getting confirmation emails shortly. If you have any problems and need to get in contact, please 

{% if order %}remember to quote this order ID : <strong>{{ order.invoice_id }}</strong>{% else %} get in touch immediately.{% endif %}

</p>
</div>
{% endblock %}

{% if shopsettings.order_complete_js_codes %}
    {% block extrajs %}
        {{ shopsettings.order_complete_js_codes|safe }}
    {% endblock %}
{% endif %}

{% if not order_converted %}
{% block google_conversion_code %}
<!-- Google Code for ReadyNet conv Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1014551126;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "yBiTCNro5gIQ1qTj4wM";
var google_conversion_value = {% if order %}{{ order.get_total_value|floatformat:"2" }}{% else %}0{% endif %};
if (199) {
 google_conversion_value = 199;
}
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1014551126/?value=199&amp;label=yBiTCNro5gIQ1qTj4wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
{% endblock %}
{% endif %}