{% extends "base.html" %}
{% load thumbnail %}

{% block pagetitle %}{{ page.title }}{% endblock %}

{% block extracss %}
<style type="text/css">


div#left {
  width: 600px;
  float: left;
  margin: 0;	
}

div#right {
  float: right;
  width: 230px;	
}

ul#right-nav {
  list-style-type: none;
  width: 100%;
  float: right;
  margin: 0px 0 20px 0;
  padding: 0;
  font-size: 13px;	
}

ul#right-nav li a {
    border-bottom: 1px dashed #444444;
    float: left;
    padding: 10px 15px;
    text-align: center;
    width: 210px;
    color:#897963;   
}

ul#right-nav li a:hover {
  color: #D2B48C;   
}

ul#right-nav li.selected a {
    background-color: #333333;
    color: #D2B48C;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: -0.5px;
}


div#right h3 {
  margin: 15px 0 10px;
  font-size: 17px;	
}

div#right h4 {
  font-size: 14px;
  color: #333;	
}

div#right-nav {
	margin-top: 0px;
}

div#right-nav ul {
  margin-top: 0px;	
}

div#right-nav ul li.selected a {
  font-weight: bold;
  color: #333;	
}

</style>
{% endblock %}

{% block content %}

<div id="feature">

<h1>{{ page.title }}</h1>



	<div class="left">
		{{ page.content|safe }}
	</div>


 	<div class="right">
		{% include "shop/snippets/pages_nav.html" %}
		{% if page.image %}
		{% thumbnail page.image "230x1000" crop="" as im %}
		<img style="margin-top: 20px;" src="{{ im.url }}">
		{% endthumbnail %}
		{% endif %}
		
		{% comment %}
		{# COMMENTING THESE OUT BUT WE CAN USE THEM LATER IF NEEDED #}
		<div class="box">
		  <div class="inner">
    		  <h3>Some title</h3>
	       	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
		  </div>
		</div>
		
		<div class="box">
		  <img class="back" src="/images/golfer.jpg" />
		  <div class="inner">
    		  <h3>Some title</h3>
	       	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
		  </div>
		</div>
		{% endcomment %}
		
		
	</div>	
</div>




{% endblock %}
