{% extends "base.html" %}
{% load thumbnail %}

{% block pagetitle %}Show us a picture of yourself!{% endblock %}

{% block content %}
<div id="featured-small"></div>

<div id="main-text-wide">
	<div id="photo">


		{% if message %}
		<div class="message">
		<p>{{ message }}</p>
		</div>
		{% else %}
		
		<h2 class="fontface">Beautiful people drink tea!</h2>
		<div id="action-button"><a href="#" onclick="toggle_visibility(1);">Add your own photos  +</a></div>
		
		<p class="introduction">As if you needed convincing about the benefits of drinking great quality Chinese tea? Just take a look at all these beautiful people drinking tea while you put the kettle on.</p>
		
{% endif %}

		<div style="display: none;" id="submit_1">
		<h3 class="user-add-photo">Upload your own photo</h3>
		<p class="intro">Choose your favourite photo of you drinking a nice cup of tea, and send it to us!</p>
		
		<form method="post" action="." enctype="multipart/form-data" >
		


							
		    	{{ form.photo.errors }}
				<div class="checkout-button">
				<p>Submit your photo and you could win a tea set in our next competition if and when we decide to run one. In the meantime, be content with looking excellent drinking tea.</p>
				<input type="submit" value="" next="" class="submit" />
				</div>
				<p><label>Your name</label><br/><input id="id_name" type="text" name="name" maxlength="200" value="" /></p>
				<p><label>Your email</label><br/><input id="id_email" type="text" name="email" maxlength="200" value="" /></p>
				<p><label>Tell us about your tea</label><br/><textarea id="id_description" rows="4" cols="40" name="description"></textarea></p>
				<p><label>Select an image file from your computer:</label><br/><input type="file" name="photo" id="id_photo" /></p>
				
							
			</form>
		</div>

		<div id="user-photos">
			{% for p in photos %}
				<div class="a-user-photo">
					<div class="photo">
						<img src="{% thumbnail p.photo 200x200 %}">
					</div>
					<div class="info">
						<p class="quote"><span class="quotes">"</span>{{ p.description }}<span class="quotes">"</span></p>
						<p class="recommend">{{ p.name }} likes to drink <a href="{{ p.related_product.get_absolute_url }}">{{ p.related_product.name }}</a> Chinese tea</p>
					</div>
				</div>
			{% endfor %}
		</div>
		
		
		

		
	</div>
{% endblock %}


7-8 days
1kg = £21.00
500g = £17.30
250g = 