{% extends "base.html" %}
{% load thumbnail i18n %}

{% block extrajs %}
<script type="text/javascript" src="/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript">

$('#notify-form').submit(function() {
		    $('#notify-form').css('opacity', '0.5');
		    $('#loading').toggle();
		    $.ajax({  
	    	    type: "POST",  
	    	    data: $('#notify-form').serialize(), 
	    	    url: "{% url notify_signup product.slug %}",  
	    	    cache: false,  
	   		    dataType: "html",  
	    	    success: function(data, textStatus) {
	    	    	$('form#notify-form').replaceWith(data);
	    	    	$('#loading').toggle();
	    	    }
    		}); 
			return false;	
		});

$(document).ready(function() {

	/* Apply fancybox to multiple items */
	$("a.group").fancybox({});
	
});

</script>
{% endblock %}

{% block metadescription %}{% if product.meta_description %}{{ product.meta_description }}{% else %}{{ product.long_description }}{% endif %}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="/css/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
<style type="text/css">
  
  .right {
    width: 200px;
    color: #f1f1f1; 
    padding: 25px;
    background: #232323;
    border-radius: 4px;
  }
  
  .right p {
    margin: 0; 
  }
  
  .left {
    width: 550px; 
  }
  
  h1 {
    margin: 0 0 10px 0; 
  }
  
  #top {
    width: 100%;
    float: left;
    margin: 0px 0 0px;	
  }
  
  #top #topleft {
    width: 550px;
    float: left;
    margin-right: 30px;
  }
  
  #top #topright {
    float: left;
    width: 320px;	
  }
  
  #top #topright p {
  	font-weight: bold;
  	font-size: 16px;
  	line-height: 1.6em;
  	margin: 0 0 20px;
  }
  
  #top #topright ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
  }
  
  #top #topright ul li {
    float: left;
    padding: 10px 0;
    border-bottom: 1px solid #333;
    font-weight: 100; 
    width: 100%;
    text-align: right;
    font-size: 14px;
  }
  
  #top .prices {
    font-size: 24px;
    width: 100%;
    font-weight: bold;	
    margin-top: 20px;
    float: left;
    margin-bottom: 15px;
  }
  
  #top .prices .price {
    float: left; 
    width: 190px;
    padding-left: 10px;	
  }
  
#top .prices .price span.strikethrough {
    color: #af2020;
    font-size: 15px;
    font-weight: normal;
    text-decoration: line-through;
    margin-left: 5px;
}
  
  #top .prices .button {
    float: left;
    width: 160px;	
  }
  
  #top .prices a {
  	font-size: 18px;
    padding: 3px 15px 5px;
    background: #e1e1e1;   
    border-radius: 4px 4px 4px 4px;
    color: #af2020;
  }
  
  #top .prices a {
    float: right;
    width: auto;	
    text-align: center;
  }
  
  #top .prices a:hover {
  	background: -moz-linear-gradient(100% 100% 90deg, #f1f1f1, #e6e6e6); 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1f1f1), to(#e6e6e6)); 
    background: -webkit-linear-gradient(#e6e6e6, #f1f1f1); 
	background: -o-linear-gradient(#e6e6e6, #f1f1f1);
	color: #BD1B30;
  }
  
#message {
    background-color: #444444;
    border-radius: 4px 4px 4px 4px;
    font-size: 15px;
    font-weight: 100;
    padding: 5px 15px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 10px;
}

#message:before {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #444444;
    border-style: none solid solid;
    border-width: 0 10px 10px;
    content: " ";
    display: block;
    position: absolute;
    right: 20px;
    top: -10px;
}
  
  span.red {color: #BD1B30;}
  
  .product_photos_small {
    margin-bottom: 20px;	
  }

#notify-form {
  float: left;
  width: 320px;
  background-color: #f6f6f6;
  padding: 10px 15px 15px;
  margin: 0 0 20px 0;	
}  

#top #topright #notify-form p {
  margin: 0 0 5px 0;	
  float: left;
  width: 100%;
}

#notify-form input {
  border: none;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  padding: 7px 8px;
  border: 1px solid #e1e1e1;
  float: left;
  width: 195px;
}

#notify-form input.button {
  border-left: none;
  font-size: 14px;	
  width: 105px;
}

#notify-form #loading {
  display: none;	
}

#notify-form .message {
  font-weight: bold;
  color: #BD1B30;	
}

#top #topright p.preorder {
  background: #BD1B30;
  padding: 5px 10px;
  color: #fff;
  float: left;
  font-size: 12px;
  margin: 10px 0 0;
  border-radius: 5px;
}

.red {
  color: red;   
}


.right ul.reviews li {
  padding: 10px 0;
  border-bottom: 1px solid #333;
  margin: 0;
}

</style>
{% endblock %}


{% block pagetitle %} {{ product.name }}{% endblock %}

{% block content %}
<div id="feature">	
	
	{% if message %}
	<div id="message">
	  <strong>{% blocktrans with product.name as name %}1 x {{ name }} added to your basket!{% endblocktrans %}
	</div>
	{% endif %}
	
	<h1>{{ product.name }}</h1>

	<div id="top">
		<div id="topleft">
		{% thumbnail product.image "550" crop="center" as im %}
		<img class="main" alt="a picture of {{ product.name }}" title="{{ product.description }}" src="{{ im.url }}"/>
		{% endthumbnail %}
		
		<div id="product-photos-small">	
			{% if product.image_2 %}
				{% thumbnail product.image_2 "550" crop="" as im_large %}
				<a class="group" href="{{ im_large.url }}" rel="group1" title="{{ product.image_2_caption }}">
					{% thumbnail product.image_2 "80x80" crop="center" as im %}
					<img class="product-small" alt="a picture of {{ product.name }}" title="{{ product.description }}" src="{{ im.url }}"/>
					{% endthumbnail %}
				</a>
				{% endthumbnail %}
			{% endif %}
			
			{% if product.image_3 %}
			    {% thumbnail product.image_3 "550" crop="" as im_large %}
				<a class="group"  href="{{ im_large.url }}" rel="group1" title="{{ product.image_3_caption }}">
				    {% thumbnail product.image_3 "80x80" crop="center" as im %}
				    <img class="product-small" alt="a picture of {{ product.name }}" title="{{ product.description }}" src="{{ im.url }}"/>
				    {% endthumbnail %}
				
				</a>
				{% endthumbnail %}
			{% endif %}
			{% if product.image_4 %}
			    {% thumbnail product.image_4 "550" crop="" as im_large %}
				<a class="group" href="{{ im_large.url }}" rel="group1" title="{{ product.image_4_caption }}">
				    {% thumbnail product.image_4 "80x80" crop="center" as im %}
				    <img class="product-small" alt="a picture of {{ product.name }}" title="{{ product.description }}" src="{{ im.url }}"/>
				    {% endthumbnail %}
				</a>
				{% endthumbnail %}
			{% endif %}
			{% if product.image_5 %}
			    {% thumbnail product.image_5 "550" crop="" as im_large %}
				<a class="group"  href="{{ im_large.url }}" rel="group1" title="{{ product.image_5_caption }}">
				    {% thumbnail product.image_5 "80x80" crop="center" as im %}
				<img class="product-small" alt="a picture of {{ product.name }}" title="{{ product.description }}" src="{{ im.url }}"/>
				{% endthumbnail %}
				</a>
				{% endthumbnail %}
			{% endif %}
			</div>	
		
		
		</div>
		
		<div id="topright">
			{{ product.long_description|safe }}
			
			{% if not prices %}
				<form action="{% url notify_signup product.slug %}" type="post" id="notify-form">
					<p>{% trans 'Sorry, this product is not in stock now - would you like to be emailed when it is?' %}</p>
					<input class="clearMeFocus" type="text" title="Your email address" name="email" id="id_email" value=""/>
					<input type="submit" class="button" value="Signup now"/>
					<img src="/images/loading.gif" id="loading"/>
				</form>
			{% endif %}
			
			
			
			
			
			{% if prices %}
				{% for price in prices %}
					<div class="prices">
						<a href="{% url add_to_basket price.id %}">Add to basket</a>
						<div class="price">
													
							{{ price.currency.symbol }}{{ price.price }} 
							{% if price.original_price %}
								<span class="strikethrough">{{ price.currency.symbol }}{{ price.original_price }}</span>
							{% endif %}
						</div> 						
					</div>
				{% endfor %}		      
			{% endif %}				
			
			{% comment "leaving it here because it might come back" %}
			{% if product.slug == _('proreturn-golf-practice-net') %}
				{% if countrycode in europe_and_uk or countrycode == 'UK' %}
				    <p class="red">{% trans 'Please note that we are currently out of stock until end of August. You can pre-order now with free shipping.' %}</p>
				{% endif %}
								
		    {% endif %}
		
		      {% get_current_language as LANG %}
				{% if countrycode == 'FR' and LANG == 'fr' %}
				    <p class="red">Nous sommes en rupture de stock jusqu'au 1er Septembre 2013. Payez aujourd'hui et beneficiex d'une livraison gratuite en France metropolitaine. Merci pour votre patience.</p>
				{% endif %}
		      {% endcomment %}
		
		</div>		
		
		
	</div>
	
	<div class="hr"></div>
	

	<div class="left">
		{{ product.body_text|safe }}	
  	</div>		

	<div class="right">
	<h3>Customer testimonials</h3>
		<ul class="reviews">
			{% for review in reviews %}
			<li><em>{{ review.text|safe }}</em> <span class="red">{{ review.owner }}</span></li>
			{% endfor %}
		</ul>
	</div>

</div>

	

{% endblock %}
