{% extends "base.html" %}
{% load thumbnail %}

{% block pagetitle %}Our Products{% endblock %}

{% block extracss %}
<style type="text/css">
</style>
{% endblock %}

{% block content %}

	<div id="feature">
	<h1>Our golf nets</h1>


		{% for product, prices in products_and_prices %}
	     <div class="{% cycle 'product-promo first' 'product-promo' 'product-promo last' %}">
            <a href="{% url product_view product.slug %}">
            	<img class="product-promo" src="{% thumbnail product.image 210x153 crop %}" alt="{{ product.description }}" title="{{ product.description }}"/>
			</a>
			<p class="sport">{{ product.category }}</p>
      		<h3>
      			<a href="{% url product_view product.slug %}" 
      			title="{{ product.name }} - {{ product.description }}">{{ product.name }}</a>
      		</h3>
      		{% for price in prices %}  	
        		{% if forloop.first %}
        			<div class="price">
        			{{ price.price_unit }}{{ price.price|floatformat }} 
            		</div>
		        {% else %}
    		    {% endif %}
        	{% endfor %}
	      	<p>{{ product.short_description|safe }}</p>



	  </div>
      
{% endfor %}


  </div>

</div>
{% endblock %}
