{% extends "base.html" %}
{% load thumbnail i18n %}

{% block pagetitle %}{% trans 'Our Products' %}{% endblock %}

{% block extrajs %}

<script type="text/javascript">
   $(document).ready( function() {
    $('.product-promo').hover( function() {
       $(this).find('.tile').animate({'top': '0',}, 200) ;
    }, function() {
       $(this).find('.tile').animate({'top': '-250',}, 200);  
    });
   });
    
</script>

{% endblock %}

{% block extracss %}
<style type="text/css">

div.price {
  font-weight: bold;	
}
span.strikethrough {
  text-decoration: line-through;
  font-weight: normal;	
}
</style>
{% endblock %}

{% block content %}

<div id="feature">

	<h1>{% trans 'Our golf nets' %}</h1>

	{% for product, prices in products_and_prices %}
	     <div class="product-promo {% cycle 'first' '' 'last' %}">
            
            <div class="tile">
            
                <div class="text">
      		<h3>
      			<a href="{% url product_view product.slug %}" 
      			title="{{ product.name }} - {{ product.description }}">{{ product.name }}</a>
      		</h3>
    
      		{% for price in prices %}  	
        		{% if forloop.first %}
        			<div class="price">
        			{{ currency.symbol }}{{ price.price|floatformat }} 
        			{% if price.original_price %}
					<span class="strikethrough">{{ currency.symbol }}{{ price.original_price }}</span>
					{% endif %}
            		</div>
		        {% else %}
    		    {% endif %}
        	{% endfor %}
	      	<p>{{ product.short_description|safe }}</p> 
	      	</div>

            
            </div>
            
            <div class="image">
            <a href="{% url product_view product.slug %}">
                {% thumbnail product.image "280x250" crop="center" as im %}
            	<img class="" src="{{ im.url }}" alt="{{ product.description }}" title="{{ product.description }}"/>
            	{% endthumbnail %}
			</a>
			</div>
			
					</div>          
	{% endfor %}

</div>
{% endblock %}
