{% extends "base.html" %}
{% load thumbnail i18n %}

{% block extrajs %}
<script type="text/javascript" src="/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript">

$('#notify-form').submit(function() {
		    $('#notify-form').css('opacity', '0.5');
		    $('#loading').toggle();
		    $.ajax({  
	    	    type: "POST",  
	    	    data: $('#notify-form').serialize(), 
	    	    url: "{% url notify_signup product.slug %}",  
	    	    cache: false,  
	   		    dataType: "html",  
	    	    success: function(data, textStatus) {
	    	    	$('form#notify-form').replaceWith(data);
	    	    	$('#loading').toggle();
	    	    }
    		}); 
			return false;	
		});

$(document).ready(function() {

	/* Apply fancybox to multiple items */
	$("a.group").fancybox({});
	
});

</script>
{% endblock %}

{% block metadescription %}{% if product.meta_description %}{{ product.meta_description }}{% else %}{{ product.long_description }}{% endif %}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="/css/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
<style type="text/css">
  #top {
    width: 100%;
    float: left;
    margin: 0px 0 30px;	
  }
  
  #top #topleft {
    width: 500px;
    float: left;
    margin-right: 30px;
  }
  
  #top #topright {
    float: left;
    width: 350px;	
  }
  
  #top #topright p {
  	font-weight: bold;
  	font-size: 16px;
  	line-height: 1.6em;
  	margin: 0 0 20px;
  }
  
  #top #topright ul {
    font-weight: bold;
  	font-size: 16px;
  	line-height: 1.6em;
  	margin: 0 0 10px 10px;
  	padding-left: 0px;
  }
  
  #top .prices {
    font-size: 24px;
    font-weight: bold;	
    margin-top: 20px;
    float: left;
    margin-bottom: 15px;
  }
  
  #top .prices .price {
    float: left; 
    width: 110px;	
  }
  
  #top .prices .price span.strikethrough {
    text-decoration: line-through;
    font-weight: normal;	
  }
  
  #top .prices .button {
    float: left;
    width: 160px;	
  }
  
  #top .prices a {
  	font-size: 20px;
    padding: 7px 10px;
    background: -moz-linear-gradient(100% 100% 90deg, #e6e6e6, #f1f1f1); 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1f1f1), to(#e6e6e6)); 
    background: -webkit-linear-gradient(#e6e6e6, #f1f1f1); 
	background: -o-linear-gradient(#e6e6e6, #f1f1f1);   
    border-color: #e1e1e1 #C1C1C1 #C1C1C1 #e1e1e1;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px -1px #666, 0 -1px 0 #666;
    text-shadow: 0 1px 2px #fff;
  }
  
  #top .prices a {
    float: right;
    width: 200px;	
    text-align: center;
  }
  
  #top .prices a:hover {
  	background: -moz-linear-gradient(100% 100% 90deg, #f1f1f1, #e6e6e6); 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1f1f1), to(#e6e6e6)); 
    background: -webkit-linear-gradient(#e6e6e6, #f1f1f1); 
	background: -o-linear-gradient(#e6e6e6, #f1f1f1);
	color: #BD1B30;
  }
  
  #message {
    background-color: #f1f1f1;
    border: 1px solid #E1E1E1;
    border-radius: 5px 5px 5px 5px;
    float: right;
    font-size: 13px;
    padding: 15px 20px;
    text-align: right;
  }
  
  span.red {color: #BD1B30;}
  
  .product_photos_small {
    margin-bottom: 20px;	
  }

#notify-form {
  float: left;
  width: 320px;
  background-color: #f6f6f6;
  padding: 10px 15px 15px;
  margin: 0 0 20px 0;	
}  

#top #topright #notify-form p {
  margin: 0 0 5px 0;	
  float: left;
  width: 100%;
}

#notify-form input {
  border: none;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  padding: 7px 8px;
  border: 1px solid #e1e1e1;
  float: left;
  width: 195px;
}

#notify-form input.button {
  border-left: none;
  font-size: 14px;	
  width: 105px;
}

#notify-form #loading {
  display: none;	
}

#notify-form .message {
  font-weight: bold;
  color: #BD1B30;	
}

#top #topright p.preorder {
  background: #BD1B30;
  padding: 5px 10px;
  color: #fff;
  float: left;
  font-size: 12px;
  margin: 10px 0 0;
  border-radius: 5px;
}

</style>
{% endblock %}


{% block pagetitle %} {{ product.name }}{% endblock %}

{% block content %}
<div id="feature">	
	
	{% if message %}
	<div id="message">
	  <strong>{% blocktrans with product.name as name %}1 x {{ name }} added to your basket!{% endblocktrans %}<br/>
	  <a href="{% url basket %}">Checkout now &raquo</a></strong>
	</div>
	{% endif %}
	
    <p class="sport">{{ product.category }}</p>
	<h1>{{ product.name }}</h1>

	<div id="top">
		<div id="topleft">
		{% thumbnail product.image "500" crop="center" as im %}
		<img class="main" alt="a picture of {{ product.name }}" title="{{ product.description }}" src="{{ im.url }}"/>
		{% endthumbnail %}
		</div>
		
		<div id="topright">
			{{ product.long_description|safe }}
			
			
			{% if not prices %}
				<form action="{% url notify_signup product.slug %}" type="post" id="notify-form">
					<p>{% trans 'Sorry, this product is not in stock now - would you like to be emailed when it is?' %}</p>
					<input class="clearMeFocus" type="text" title="Your email address" name="email" id="id_email" value=""/>
					<input type="submit" class="button" value="Signup now"/>
					<img src="/images/loading.gif" id="loading"/>
				</form>
			{% endif %}
			
			
			<div class="product-photos-small">	
			{% if product.image_2 %}
				{% thumbnail product.image_2 "500" crop="" as im_large %}
				<a class="group" href="{{ im_large.url }}" rel="group1" title="{{ product.image_2_caption }}">
					{% thumbnail product.image_2 "80x80" crop="center" as im %}
					<img class="product-small" alt="a picture of {{ product.name }}" title="{{ product.description }}" src="{{ im.url }}"/>
					{% endthumbnail %}
				</a>
				{% endthumbnail %}
			{% endif %}
			
			{% if product.image_3 %}
			    {% thumbnail product.image_3 "500" crop="" as im_large %}
				<a class="group"  href="{{ im_large.url }}" rel="group1" title="{{ product.image_3_caption }}">
				    {% thumbnail product.image_3 "80x80" crop="center" as im %}
				    <img class="product-small" alt="a picture of {{ product.name }}" title="{{ product.description }}" src="{{ im.url }}"/>
				    {% endthumbnail %}
				
				</a>
				{% endthumbnail %}
			{% endif %}
			{% if product.image_4 %}
			    {% thumbnail product.image_4 "500" crop="" as im_large %}
				<a class="group" href="{{ im_large.url }}" rel="group1" title="{{ product.image_4_caption }}">
				    {% thumbnail product.image_4 "80x80" crop="center" as im %}
				    <img class="product-small" alt="a picture of {{ product.name }}" title="{{ product.description }}" src="{{ im.url }}"/>
				    {% endthumbnail %}
				</a>
				{% endthumbnail %}
			{% endif %}
			{% if product.image_5 %}
			    {% thumbnail product.image_5 "500" crop="" as im_large %}
				<a class="group"  href="{{ im_large.url }}" rel="group1" title="{{ product.image_5_caption }}">
				    {% thumbnail product.image_5 "80x80" crop="center" as im %}
				<img class="product-small" alt="a picture of {{ product.name }}" title="{{ product.description }}" src="{{ im.url }}"/>
				{% endthumbnail %}
				</a>
				{% endthumbnail %}
			{% endif %}
			</div>	
			
			
			{% if prices %}
				{% for price in prices %}
					<div class="prices">
						<a href="{% url add_to_basket price.id %}">Add to basket</a>
						<div class="price">
							{{ price.currency.symbol }}{{ price.price }} 
							{% if price.original_price %}
								<span class="strikethrough">{{ price.currency.symbol }}{{ price.original_price }}</span>
							{% endif %}
						</div> 

                            {% if price.parent_product.slug == 'proreturn-golf-practice-net' %}
                                {% if countrycode == 'US' or countrycode == 'CA' %}
                                    <p class="preorder">{% trans 'The ProReturn Net will be shipped in the last week of March 2013 using UPS Ground (3-5 working days).' %}</p>
                                {% endif %}
                            {% endif %}

                            {% if price.parent_product.slug == 'proapproach-popup-net' %}
                                {% if countrycode == 'US' or countrycode == 'CA' %}
                                <p class="preorder">{% trans 'This product will be shipped in mid-May 2013 for US/Canada' %}</p>
                                {% endif %}
                                {% if countrycode in european_countries %}
                                <p class="preorder">{% trans 'This product will be shipped at the end-of May 2013 in Europe.' %}</p>
                                {% endif %}
                            {% endif %}

					</div>
				{% endfor %}		      
			{% endif %}				
			
		
		</div>		
		
		
	</div>
	


	<div class="left">
		{{ product.body_text|safe }}	
  	</div>		

	<div class="right">
	<img src="/images/paypal-horz.gif" style="margin-bottom: 20px;">
	<h3>Customer testimonials</h3>
		<ul class="reviews">
			{% for review in reviews %}
			<li><em>{{ review.text|safe }}</em> <span class="red">{{ review.owner }}</span></li>
			{% endfor %}
		</ul>
	</div>

</div>

	

{% endblock %}
