{% load thumbnail %}

  {% for thing in entries.object_list %}
  
  
  <div class="entry{% if forloop.last %} last{% endif %}">
	<div class="image">
	   {% thumbnail thing.promo_image "120x120" crop="center" as im %}
		<img src="{{ im.url }}"/>
	   {% endthumbnail %}
  	</div>
  	<div class="text">
  	<span class="entry-meta">{{ thing.date_added|date:"d M Y" }}</span>
  		<h3>
  		<a alt="{{ thing.title }}" title="{{ thing.title }}" href="{% url blog_entry thing.slug %}">{{ thing.title }}</a>
  		</h3>
  		<p>{{ thing.summary|urlize }}</p>
  		
  		</p>
	</div> 
  </div>

  {% endfor %}
  
  
<div class="pagination">
    <span class="step-links">
        {% if entries.has_previous %}
            <a href="?page={{ entries.previous_page_number }}">&laquo; Newer</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        {% endif %}

        <span class="current">
            Page {{ entries.number }} of {{ entries.paginator.num_pages }} 
        </span>

        {% if entries.has_next %}
            &nbsp;&nbsp;|&nbsp;&nbsp;<a href="?page={{ entries.next_page_number }}">Older &raquo;</a>
        {% endif %}
    </span>
</div>