{% extends "base.html" %}


{% block extracss %}
<style type="text/css">

div#feature h3 {
  margin-bottom: 0;
  padding-bottom: 0;	
}

div.left p {
  float: left;
  width: 100%;	
}

div.left label {
    color: #000000;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin: 10px 0;
    padding-right: 15px;
    text-align: right;
    width: 100px;	
}

div.left input {
    border-color: #E1E1E1;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    color: #666666;
    float: left;
    font: 95% arial,helvetica,clean,sans-serif;
    height: 20px;
    margin: 5px 0;
    padding: 7px 15px;
    width: 400px;
}

div.left textarea {
    border-color: #E1E1E1;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    color: #666666;
    float: left;
    font: 95% arial,helvetica,clean,sans-serif;
    margin: 0 0 20px 0px;
    padding: 10px 15px;
    width: 400px;
}

div.left label {
  margin-bottom: 5px;	
}

div.left input.submit-button {
    background: -moz-linear-gradient(100% 100% 90deg, #e6e6e6, #f1f1f1); 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1f1f1), to(#e6e6e6)); 
    background: -webkit-linear-gradient(#e6e6e6, #f1f1f1); 
	background: -o-linear-gradient(#e6e6e6, #f1f1f1);   
    border-color: #e1e1e1 #C1C1C1 #C1C1C1 #e1e1e1;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 1px 2px #fff;
    margin: 0 0 0 240px;
    padding: 10px 15px;
    width: 310px;
    height: auto;
}

div.left input.submit-button:hover {
    background: -moz-linear-gradient(100% 100% 90deg, #f1f1f1, #e6e6e6); 
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#f1f1f1)); 
    background: -webkit-linear-gradient(#f1f1f1, #e6e6e6); 
	background: -o-linear-gradient(#f1f1f1, #e6e6e6);
	color: #BD1B30; 
	cursor: pointer;	
}


div.left p.help-text {
    float: left;
    font-size: 0.7em;
    padding-left: 10px;
    position: relative;
    left: 240px;
    top: 10px;
}

div.left p.help-text.captcha {
    left: 110px;
    margin-bottom: 40px;
}

div.left input#id_captcha_1 {
  width: 200px;  
  margin: 0 30px 10px 0; 
}

</style>
{% endblock %}

{% block metadescription %}{% endblock %}

{% block banner %}
	    	<div id="home-banner">
	    	<h2 class="logo-assist">Contact Us</h2>
	    	<p class="normal">How you can get in touch with us.</p>
			</div>
{% endblock %}

{% block pagetitle%}{{ page.title }}{% endblock %}



{% block content %}

<div id="feature">	

	<h1>{{ page.title }}</h1>
	<div class="left">
		 	{{ page.content|safe }}
		 	
	{% if message %}
		<h2>Thanks!</h2>
		<p>Your message has been sent to the team at Pro-Advanced. We'll be in touch as soon as possible (normally within 24 hours).</p>
	{% else %}

		<h2>Send us a message</h2>
				<form action="/contact-us/submit/" method="post">
				
				<p>
				{{ form.your_name.errors }}
				<label for="id_your_name">Your name:</label> 
				<input type="text" name="your_name" id="id_your_name" />
				</p>
				
				<p>
				<label for="id_your_email">Your email:</label> 
				<input type="text" name="your_email" id="id_your_email" />
				</p>
				
				<p>
				<label for="id_country">Your country:</label>
				<input type="text" name="country" id="id_country"/>
				</p>
				
				<p>
				<label for="id_your_message">Your message:</label> 
				<textarea id="id_your_message" rows="10" cols="40" name="your_message"></textarea>
				</p>
				<label>&nbsp;</label>

				{{ form.captcha }}
				<p class="help-text captcha {% if form.captcha.errors %}red{% endif %}">Please fill in the captcha - it helps reduce spam.</p>

				<input class="submit-button" value="Submit &raquo;" type="submit">
				<p class="help-text">
					* We will never share, sell or spam your email address
				</p>
				</form>
			{% endif %}
	</div>
</div>
				

    {% endblock %}
